unpackaged/main/default/flows/Action_Process.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_pmetdec</targetReference>
            </connector>
            <label>Auto-populate Completed Date US-0009227</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_1_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>100</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_1_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_1_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_1_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>US-0009227 - [Pro-Trader] Auto-populate &quot;Completed Date&quot; with today&#39;s date when Action status is set to &quot;Completed&quot;</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>TODAY()</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_6505775628</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.byPass__c.byPass_WFRule__c = FALSE, [Action__c].LTTM_Seller__r.BoB__r.RecordType.DeveloperName =&#39;Light_Touch_Category_Cohort&#39; ,
OR(
       ISPICKVAL([Action__c].LTTM_Seller__r.BoB__r.Managed_Type__c ,&#39;LTTM Plus&#39;), 
       ISPICKVAL([Action__c].LTTM_Seller__r.BoB__r.Managed_Type__c,&#39;LTTM Managed&#39;), 
       ISPICKVAL([Action__c].LTTM_Seller__r.BoB__r.Managed_Type__c,&#39;Others Managed&#39;)
),
ISPICKVAL([Action__c].Status__c,&#39;Completed&#39;) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.byPass__c.byPass_WFRule__c} = FALSE, {!myVariable_current.LTTM_Seller__r.BoB__r.RecordType.DeveloperName} =&#39;Light_Touch_Category_Cohort&#39; ,
OR(
       ISPICKVAL({!myVariable_current.LTTM_Seller__r.BoB__r.Managed_Type__c} ,&#39;LTTM Plus&#39;), 
       ISPICKVAL({!myVariable_current.LTTM_Seller__r.BoB__r.Managed_Type__c},&#39;LTTM Managed&#39;), 
       ISPICKVAL({!myVariable_current.LTTM_Seller__r.BoB__r.Managed_Type__c},&#39;Others Managed&#39;)
),
ISPICKVAL({!myVariable_current.Status__c},&#39;Completed&#39;) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>AND($Setup.byPass__c.byPass_WFRule__c = FALSE, [Action__c].LTTM_Seller__r.BoB__r.RecordType.DeveloperName =&#39;Light_Touch_Category_Cohort&#39; ,
OR(
       ISPICKVAL([Action__c].LTTM_Seller__r.BoB__r.Managed_Type__c ,&#39;LTTM Plus&#39;), 
       ISPICKVAL([Action__c].LTTM_Seller__r.BoB__r.Managed_Type__c,&#39;LTTM Managed&#39;), 
       ISPICKVAL([Action__c].LTTM_Seller__r.BoB__r.Managed_Type__c,&#39;Others Managed&#39;)
),
ISPICKVAL([Action__c].Status__c,&#39;Completed&#39;) )</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>AND({!$Setup.byPass__c.byPass_WFRule__c} = FALSE, {!myVariable_old.LTTM_Seller__r.BoB__r.RecordType.DeveloperName} =&#39;Light_Touch_Category_Cohort&#39; ,
OR(
       ISPICKVAL({!myVariable_old.LTTM_Seller__r.BoB__r.Managed_Type__c} ,&#39;LTTM Plus&#39;), 
       ISPICKVAL({!myVariable_old.LTTM_Seller__r.BoB__r.Managed_Type__c},&#39;LTTM Managed&#39;), 
       ISPICKVAL({!myVariable_old.LTTM_Seller__r.BoB__r.Managed_Type__c},&#39;Others Managed&#39;)
),
ISPICKVAL({!myVariable_old.Status__c},&#39;Completed&#39;) )</expression>
    </formulas>
    <interviewLabel>Action_Process-2_InterviewLabel</interviewLabel>
    <label>Action Process</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Action__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Action__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Completed Date Equal Today</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Completed Date</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>Completed_Date__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_6505775628</elementReference>
            </value>
        </inputAssignments>
        <object>Action__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Obsolete</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Action__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Action__c</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
