unpackaged/main/default/flows/Action_Record_Update_After_Context.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>US-0010363 - Autopopulate Today() Date when Action__c.Action_Outcome__c = DMC Committed is set by the user.
this field use in flow to track date as formula field.IF( ISPICKVAL( Action_Outcome__c , &#39;DMC Committed&#39;) , TODAY() , null)</description>
        <name>IsActionOutCome</name>
        <label>IsActionOutCome</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsActionDMCCommitedChanged</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action_Outcome__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Action_Outcome__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateDMCCommithedHistory</targetReference>
            </connector>
            <label>IsActionDMCCommitedChanged</label>
        </rules>
    </decisions>
    <description>US-0010363</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <formulas>
        <description>US-0012056 - Error Message thrown when attemption to Create 96 Actions to Cohort Sellers</description>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <interviewLabel>Action- Record Update - After Context {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Action- Record Update - After Context</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>US-0010363- Tracking field DMC Commit Date in Action Record</description>
        <name>UpdateDMCCommithedHistory</name>
        <label>UpdateDMCCommithedHistory</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>DMCCommitDate__c</field>
            <value>
                <elementReference>$Record.DMC_Commit_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>IsActionOutCome</targetReference>
        </connector>
        <object>Action__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
