unpackaged/main/default/flows/Ad_Product_Record_Trigger_flow_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Seller_Account_0_0</name>
        <label>Assign Seller Account</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <assignmentItems>
            <assignToReference>Get_Opportunity.Seller_Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sellerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Opportunity_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Have_Seller</name>
        <label>Have Seller</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Have</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sellerId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Seller_Account_0_0</targetReference>
            </connector>
            <label>Have</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Callisto</name>
        <label>Is Callisto</label>
        <locationX>380</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Callisto</name>
            <conditionLogic>1 AND 2 AND 3 AND ( 4 OR ( 5 AND (6 OR 7)))</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product2__r.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Callisto</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller_ID_1PD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>isNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller_ID_1PD__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Seller_ID_1PD__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Opportunity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Opportunity__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Seller</targetReference>
            </connector>
            <label>Callisto</label>
        </rules>
    </decisions>
    <description>US-0011878 - ADS - Populate Seller Account from Seller ID</description>
    <environments>Default</environments>
    <formulas>
        <name>isNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>oracleId</name>
        <dataType>String</dataType>
        <expression>TEXT({!$Record.Seller_ID_1PD__c})</expression>
    </formulas>
    <interviewLabel>Ad Product Record Trigger flow After Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Ad Product Record Trigger flow After Insert/Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Have_Seller</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Seller_Account__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Seller</name>
        <label>Get Seller</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>EBH_OracleID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>oracleId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0126A000000M9xLQAS</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>sellerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opportunity_0</name>
        <label>Update Opportunity</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <inputReference>Get_Opportunity</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Is_Callisto</targetReference>
        </connector>
        <object>Ad_Product__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>sellerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
