unpackaged/main/default/flows/Add_Channel_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>getUserInformation2</name>
        <label>getUserInformation2</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <actionName>InfluencerService</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Check_If_Error</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>target</name>
            <value>
                <stringValue>instagram_user_discovery</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>insert_link.value</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_Link_To_Channel</name>
        <label>Assign Link To Channel</label>
        <locationX>314</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>Channel_Record.Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insert_link.value</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>getUserInformation2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IG_Assignment</name>
        <label>IG Assignment</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Channel_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Username_IG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Social_Media_Channel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Instagram</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insert_link.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Influencer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Followers_Subscribers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Followers_IG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Following__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Following_IG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Posts_total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Posts_IG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Channel</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NOT_IG_Assignment</name>
        <label>NOT IG Assignment</label>
        <locationX>578</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>Channel_Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Username_NOT_IG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Social_Media_Channel_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getUserInformation2.channelRecord.Social_Media_Channel_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Link__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>insert_link.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Influencer__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Followers_Subscribers__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Followers_NOT_IG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Following__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Following_NOT_IG</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Channel_Record.Posts_total__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Posts_NOT_IG</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Channel</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Channel_Type</name>
        <label>Check Channel Type</label>
        <locationX>578</locationX>
        <locationY>638</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Instagram</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUserInformation2.channelRecord.Social_Media_Channel_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Instagram</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Information_Screen_Instagram</targetReference>
            </connector>
            <label>Is Instagram</label>
        </rules>
        <rules>
            <name>Is_Not_Instagram</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUserInformation2.channelRecord.Social_Media_Channel_Type__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Instagram</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Information_Screen_Not_Instagram</targetReference>
            </connector>
            <label>Is Not Instagram</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_Error</name>
        <label>Check If Error</label>
        <locationX>314</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Check_Channel_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True_Check_If_Error</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getUserInformation2.hasError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Incorrect_Instagram_Link</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <description>US-0011821 - Create the flow</description>
    <environments>Default</environments>
    <interviewLabel>Add Channel Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Channel Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Channel</name>
        <label>Create Channel</label>
        <locationX>578</locationX>
        <locationY>1094</locationY>
        <inputReference>Channel_Record</inputReference>
    </recordCreates>
    <screens>
        <name>Check_Information_Screen_Instagram</name>
        <label>Check Information Screen Instagram</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>IG_Assignment</targetReference>
        </connector>
        <fields>
            <name>Warning_Check_Information_Screen_Not_Instagram_0</name>
            <fieldText>&lt;p&gt;&amp;nbsp;ℹ️ &lt;span style=&quot;color: rgb(51, 51, 51);&quot;&gt;The following information relates to your channel.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51);&quot;&gt;You can edit the information if needed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Username_IG</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>getUserInformation2.channelRecord.Name</elementReference>
            </defaultValue>
            <fieldText>Username</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Followers_IG</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>getUserInformation2.channelRecord.Followers_Subscribers__c</elementReference>
            </defaultValue>
            <fieldText>Followers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Following_IG</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>getUserInformation2.channelRecord.Following__c</elementReference>
            </defaultValue>
            <fieldText>Following</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Posts_IG</name>
            <dataType>Number</dataType>
            <defaultValue>
                <elementReference>getUserInformation2.channelRecord.Posts_total__c</elementReference>
            </defaultValue>
            <fieldText>Posts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Information_Screen_Not_Instagram</name>
        <label>Check Information Screen Not Instagram</label>
        <locationX>578</locationX>
        <locationY>758</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>NOT_IG_Assignment</targetReference>
        </connector>
        <fields>
            <name>Warning_Check_Information_Screen_Not_Instagram</name>
            <fieldText>&lt;p&gt;⛔️ &lt;span style=&quot;color: rgb(51, 51, 51);&quot;&gt;Automatic updates to this channel are not supported, please complete the information manually&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Username_NOT_IG</name>
            <dataType>String</dataType>
            <fieldText>Username</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Followers_NOT_IG</name>
            <dataType>Number</dataType>
            <fieldText>Followers</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Following_NOT_IG</name>
            <dataType>Number</dataType>
            <fieldText>Following</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Posts_NOT_IG</name>
            <dataType>Number</dataType>
            <fieldText>Posts</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Incorrect_Instagram_Link</name>
        <label>Incorrect Instagram Link</label>
        <locationX>50</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Incorrect_Instagram_Link_Error_Msg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(51, 51, 51);&quot;&gt;⛔️&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0);&quot;&gt; Instagram Link provided seems to be incorrect, please provide a valid link&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Insert_Link_Screen</name>
        <label>Insert Link Screen</label>
        <locationX>314</locationX>
        <locationY>158</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_Link_To_Channel</targetReference>
        </connector>
        <fields>
            <name>Add_Link_Message</name>
            <fieldText>&lt;p&gt;Insert link to the new channel you would like to add&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>insert_link</name>
            <extensionName>flowruntime:url</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>URL</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Insert_Link_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>Channel_Record</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Channel__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
