unpackaged/main/default/flows/After_Insert_Update_User_Story_2.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notification_added_to_sprint_in_progress</name>
        <label>Notification added to sprint in progress</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>US_0010893_Check_Product_Owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>NotificationBody</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>nfranzen@ebay.com, anadeem@ebay.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <elementReference>True</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>{!Get_User_Details.Name} added {!$Record.Full_title__c} to {!Get_Sprint.Name} for Component [{!$Record.Component__c}] ({!$Record.Story_Points_Dev__c})</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>US_0010893_Create_a_User_Story_Email_Alert</name>
        <label>US-0010893 - Create a User Story Email Alert</label>
        <locationX>72</locationX>
        <locationY>1247</locationY>
        <actionName>copado__User_Story__c.Create_a_User_Story_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Dependency_Block_By</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>US-0011430 - Product Owner checkbox validation</description>
        <name>User_Story_Creator_Alert</name>
        <label>User Story Creator Alert</label>
        <locationX>336</locationX>
        <locationY>1247</locationY>
        <actionName>copado__User_Story__c.User_Story_Creator_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Dependency_Block_By</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Create_Copado_team_dependency</name>
        <label>Create Copado team dependency</label>
        <locationX>204</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>RelatedUserStory.Relationship__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Blocked by</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedUserStory.copado__Provider_User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Related_User_Story__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedUserStory.copado__Dependent_User_Story__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_related_record</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Bug_with_related_user_story</name>
        <label>Bug with related user story</label>
        <locationX>336</locationX>
        <locationY>1583</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RT_Bug_and_Related_story_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Bug</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Related_User_Story__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Dependency_Block_By</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Copado_team_dependency</targetReference>
            </connector>
            <label>RT = Bug and Related story = true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_In_Progress</name>
        <label>Is In Progress and is New</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>US_0010893_Check_Product_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>1 AND (2 or 3)</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sprint.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>In progress</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Sprint__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_Details</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sprint_not_null</name>
        <label>Sprint not null</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>US_0010893_Check_Product_Owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sprint_not_null_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Sprint</targetReference>
            </connector>
            <label>Sprint not null = true</label>
        </rules>
    </decisions>
    <decisions>
        <name>US_0010893_Check_Product_Owner</name>
        <label>US-0010893 - Check Product Owner</label>
        <locationX>336</locationX>
        <locationY>1127</locationY>
        <defaultConnector>
            <targetReference>Get_Dependency_Block_By</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Product_Owner</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HIVE_Products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedDate</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.LastModifiedDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>US_0010893_Create_a_User_Story_Email_Alert</targetReference>
            </connector>
            <label>Check Product Owner</label>
        </rules>
        <rules>
            <name>Check_Is_Hive_Product_OwnerId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>User_Story</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PO_Reviewed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedById</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>User_Story_Creator_Alert</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Check Is Hive Product OwnerId</label>
        </rules>
    </decisions>
    <description>US-0011394 grouping flows
US-0010893 - Product Owner name assignment and flag validation
--removing chatter
-- replace testing emails with Nicole &amp; Atifa
US-0011430 - Product Owner checkbox validation
US-0012124 - Stop Double Notifications
US-0012139 - The email alert should trigger only when the PO Reviewed check box is changed and it is true.</description>
    <environments>Default</environments>
    <formulas>
        <name>chattermessage</name>
        <dataType>String</dataType>
        <expression>&#39;Hey @[&#39; + {!$User.Id} + &#39;] , this is a test and the sprint is in progress&#39;</expression>
    </formulas>
    <formulas>
        <name>DynamicURL</name>
        <dataType>String</dataType>
        <expression>LEFT($Api.Partner_Server_URL_260, FIND( &#39;/services&#39;, $Api.Partner_Server_URL_260)) + {!$Record.Id}</expression>
    </formulas>
    <formulas>
        <description>product value</description>
        <name>Productv</name>
        <dataType>String</dataType>
        <expression>if ({!$Record.HIVE_Products__c}=NULL,&#39;&#39;,{!$Record.HIVE_Products__r.Name})</expression>
    </formulas>
    <formulas>
        <description>Value of the project Name</description>
        <name>ProjectV</name>
        <dataType>String</dataType>
        <expression>if({!$Record.Hive_Project__c}=NULL,&#39;&#39;,{!$Record.Hive_Project__r.Name})</expression>
    </formulas>
    <interviewLabel>After Insert Update User Story 2 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Story - After Insert Update 2</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Insert_related_record</name>
        <label>Insert related record</label>
        <locationX>204</locationX>
        <locationY>1823</locationY>
        <inputReference>RelatedUserStory</inputReference>
    </recordCreates>
    <recordLookups>
        <description>US-0011880 - Fix After_Insert_Update_User_Story_2 flow</description>
        <name>Get_Dependency_Block_By</name>
        <label>Get Dependency Block By</label>
        <locationX>336</locationX>
        <locationY>1463</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Bug_with_related_user_story</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Relationship__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Blocked by</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Provider_User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Related_User_Story__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>copado__Dependent_User_Story__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Team_Dependency__c</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sprint</name>
        <label>Get Sprint</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_In_Progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.copado__Sprint__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Sprint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_Details</name>
        <label>Get User Details</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Notification_added_to_sprint_in_progress</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.LastModifiedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sprint_not_null</targetReference>
        </connector>
        <object>copado__User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>NotificationBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;&lt;a href=&quot;{!DynamicURL}&quot; rel=&quot;noopener noreferrer&quot; target=&quot;_blank&quot; style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;User story reference {!$Record.Full_title__c}&lt;/a&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Product :{!Productv}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Project: {!ProjectV}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Created By : {!Get_User_Details.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Business Value : {!$Record.Business_Value_Points__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Story Points : {!$Record.copado__Total_Story_Points__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Dev(N): {!$Record.Story_Points_Dev__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Risk: {!$Record.Risk__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>NotificationRichTextBody</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;User story reference {!$Record.Full_title__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Product : {!$Record.HIVE_Products__r.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Project: {!$Record.Hive_Project__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Created By :{!Get_User_Details.Name}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Business Value : {!$Record.Business_Value_Points__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Story Points : {!$Record.copado__Total_Story_Points__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Dev(N): {!$Record.Story_Points_Dev__c}&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;color: rgb(29, 28, 29); font-family: Slack-Lato, appleLogo, sans-serif; font-size: 15px; background-color: rgb(248, 248, 248);&quot;&gt;Risk: {!$Record.Risk__c}&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>product</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Project</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedUserStory</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>copado__Team_Dependency__c</objectType>
    </variables>
    <variables>
        <description>test</description>
        <name>te</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
