unpackaged/main/default/flows/BCD_Statement_Record_Update_After_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>DE_Contract_BCD_File_Generation_Email_Notification</name>
        <label>DE Contract BCD File Generation Email Notification</label>
        <locationX>2162</locationX>
        <locationY>575</locationY>
        <actionName>BCD_Statement__c.DE_Contract_BCD_File_Generation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>ES_Contract_BCD_File_Generation_Email_Notification</name>
        <label>ES Contract BCD File Generation Email Notification</label>
        <locationX>3218</locationX>
        <locationY>575</locationY>
        <actionName>BCD_Statement__c.ES_Contract_BCD_File_Generation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>FR_Contract_BCD_File_Generation_Email_Notification</name>
        <label>FR Contract BCD File Generation Email Notification</label>
        <locationX>2690</locationX>
        <locationY>575</locationY>
        <actionName>BCD_Statement__c.FR_Contract_BCD_File_Generation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>IT_Contract_BCD_File_Generation_Email_Notification</name>
        <label>IT Contract BCD File Generation Email Notification</label>
        <locationX>2954</locationX>
        <locationY>575</locationY>
        <actionName>BCD_Statement__c.IT_Contract_BCD_File_Generation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sent_AU_Coupon_BCD_Statement</name>
        <label>Sent AU Coupon BCD Statement</label>
        <locationX>50</locationX>
        <locationY>911</locationY>
        <actionName>BCD_Statement__c.BCD_File_Email_for_AU</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sent_DE_Coupon_BCD_Statement</name>
        <label>Sent DE Coupon BCD Statement</label>
        <locationX>578</locationX>
        <locationY>911</locationY>
        <actionName>BCD_Statement__c.BCD_File_Email_for_DE</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Sent_UK_Coupon_BCD_Statement</name>
        <label>Sent UK Coupon BCD Statement</label>
        <locationX>314</locationX>
        <locationY>911</locationY>
        <actionName>BCD_Statement__c.BCD_File_Email_For_UK</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>US-0008977</description>
        <name>SentDEFVFStatementEmailNotification</name>
        <label>SentDEFVFStatementEmailNotification</label>
        <locationX>1106</locationX>
        <locationY>575</locationY>
        <actionName>BCD_Statement__c.DE_FVF_Statement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>US-0009477</description>
        <name>SentITFVFStatementEmailNotification</name>
        <label>SentITFVFStatementEmailNotification</label>
        <locationX>1634</locationX>
        <locationY>575</locationY>
        <actionName>BCD_Statement__c.IT_FVF_Statement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <description>US-0008108</description>
        <name>SentUKFVFStatementEmailNotification</name>
        <label>SentUKFVFStatementEmailNotification</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <actionName>BCD_Statement__c.UK_FVF_Statement</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UK_Contract_BCD_File_Generation_Email_Notification</name>
        <label>UK Contract BCD File Generation Email Notification</label>
        <locationX>2426</locationX>
        <locationY>575</locationY>
        <actionName>BCD_Statement__c.UK_Contract_BCD_File_Generation</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Coupon_Field</name>
        <label>Check Coupon Field</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Coupon_BCD_Statement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCouponNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Payment sent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCouponRecord</targetReference>
            </connector>
            <label>IsCouponNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Recordtype</name>
        <label>Check Recordtype</label>
        <locationX>2096</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsCouponRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Coupon_BCD</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Coupon_Field</targetReference>
            </connector>
            <label>IsCouponRecordType</label>
        </rules>
        <rules>
            <name>IsFVFRecordType</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Final_Value_Fee</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FVF_BCD_Statement</targetReference>
            </connector>
            <label>IsFVFRecordType</label>
        </rules>
        <rules>
            <name>IsContractBCD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ACP_Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCD ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckContractBCDSite</targetReference>
            </connector>
            <label>IsContractBCD</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0011929 - [Contract BCD] Contract - BCD file generation email notification</description>
        <name>CheckContractBCDSite</name>
        <label>CheckContractBCDSite</label>
        <locationX>2822</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsDE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rev_RollUp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DE_Contract_BCD_File_Generation_Email_Notification</targetReference>
            </connector>
            <label>IsDE</label>
        </rules>
        <rules>
            <name>IsUK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rev_RollUp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_Contract_BCD_File_Generation_Email_Notification</targetReference>
            </connector>
            <label>IsUK</label>
        </rules>
        <rules>
            <name>IsFR</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rev_RollUp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>FR_Contract_BCD_File_Generation_Email_Notification</targetReference>
            </connector>
            <label>IsFR</label>
        </rules>
        <rules>
            <name>IsIT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rev_RollUp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>IT_Contract_BCD_File_Generation_Email_Notification</targetReference>
            </connector>
            <label>IsIT</label>
        </rules>
        <rules>
            <name>IsES</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Rev_RollUp__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ES</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ES_Contract_BCD_File_Generation_Email_Notification</targetReference>
            </connector>
            <label>IsES</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0010158 - Coupon: BCD statement auto update submission date</description>
        <name>Coupon_BCD_Statement</name>
        <label>Coupon BCD Statement</label>
        <locationX>446</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Site_AU_and_BCD_ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCD ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>15</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_AU_Coupon_BCD_Statement</targetReference>
            </connector>
            <label>If Site AU and BCD ready</label>
        </rules>
        <rules>
            <name>If_Site_UK_and_BCD_ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCD ready</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_UK_Coupon_BCD_Statement</targetReference>
            </connector>
            <label>If Site UK and BCD ready</label>
        </rules>
        <rules>
            <name>If_Site_DE_and_BCD_ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>77</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCD ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sent_DE_Coupon_BCD_Statement</targetReference>
            </connector>
            <label>If Site DE and BCD ready</label>
        </rules>
    </decisions>
    <decisions>
        <name>FVF_BCD_Statement</name>
        <label>FVF BCD Statement</label>
        <locationX>1502</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Site_DE_and_Status_BCD_ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>77</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCD ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SentDEFVFStatementEmailNotification</targetReference>
            </connector>
            <label>If Site DE and Status BCD ready</label>
        </rules>
        <rules>
            <name>If_Site_UK_and_Status_BCD_ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCD ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SentUKFVFStatementEmailNotification</targetReference>
            </connector>
            <label>If Site UK and Status BCD ready</label>
        </rules>
        <rules>
            <name>If_Site_IT_and_Status_BCD_ready</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>101</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Status__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BCD ready</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SentITFVFStatementEmailNotification</targetReference>
            </connector>
            <label>If Site IT and Status BCD ready</label>
        </rules>
    </decisions>
    <description>US-0010158 - Coupon: BCD statement auto update submission date
US-0010390 - Coupon BCD statement Adjust condition on existing automation US-0010158
US-0011929 - [Contract BCD] Contract - BCD file generation email notification</description>
    <environments>Default</environments>
    <formulas>
        <name>CurrentDate</name>
        <dataType>Date</dataType>
        <expression>Today()</expression>
    </formulas>
    <interviewLabel>BCD Statement - Record Update - After Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BCD Statement - Record Update - After Trigger</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>UpdateCouponRecord</name>
        <label>UpdateCouponRecord</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Coupon_BCD_Statement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Coupon__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BCD_Submitted_Date__c</field>
            <value>
                <elementReference>CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <object>Coupon__c</object>
    </recordUpdates>
    <start>
        <locationX>1970</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Recordtype</targetReference>
        </connector>
        <object>BCD_Statement__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CouponId</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Coupon__c</objectType>
    </variables>
    <variables>
        <name>listCoupons</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Coupon__c</objectType>
    </variables>
</Flow>
