unpackaged/main/default/flows/Contract_Record_Trigger_Flow_Before_Insert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Set_T_C_For_DE</name>
        <label>Set T&amp;C For DE</label>
        <locationX>314</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.TCs_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DE_T_C_URL</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>US-0011123 - IT/FR Refurb Click Contracts Emails</description>
        <name>Set_T_C_For_FR</name>
        <label>Set T&amp;C For FR</label>
        <locationX>842</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.TCs_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>FR_T_C_URL</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>US-0011123 - IT/FR Refurb Click Contracts Emails</description>
        <name>Set_T_C_For_IT</name>
        <label>Set T&amp;C For IT</label>
        <locationX>578</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.TCs_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IT_T_C_URL</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_T_C_For_UK</name>
        <label>Set T&amp;C For UK</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <assignmentItems>
            <assignToReference>$Record.TCs_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>UK_T_C_URL</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>Contract_Refurbished_RecordType</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Refurbished</stringValue>
        </value>
    </constants>
    <constants>
        <name>DE_T_C_URL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://cloud.forbusiness.ebay.com/refurbished-agb</stringValue>
        </value>
    </constants>
    <constants>
        <description>US-0011123 - IT/FR Refurb Click Contracts Emails</description>
        <name>FR_T_C_URL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://cloud.forbusiness.ebay.com/fr-conditions-prog-reconditionne</stringValue>
        </value>
    </constants>
    <constants>
        <description>US-0011123 - IT/FR Refurb Click Contracts Emails</description>
        <name>IT_T_C_URL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://cloud.forbusiness.ebay.com/ricondizionato</stringValue>
        </value>
    </constants>
    <constants>
        <name>UK_T_C_URL</name>
        <dataType>String</dataType>
        <value>
            <stringValue>https://pages.ebay.co.uk/refprog-terms/ </stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>974</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Refurbished</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Contract_Refurbished_RecordType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Site</targetReference>
            </connector>
            <label>Refurbished</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0009871 - [Refurb] Send Click Agreements to Contract Sellers</description>
        <name>Check_Site</name>
        <label>Check Site</label>
        <locationX>578</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EBH_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_T_C_For_UK</targetReference>
            </connector>
            <label>UK</label>
        </rules>
        <rules>
            <name>DE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EBH_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_T_C_For_DE</targetReference>
            </connector>
            <label>DE</label>
        </rules>
        <rules>
            <name>IT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EBH_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>IT</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_T_C_For_IT</targetReference>
            </connector>
            <label>IT</label>
        </rules>
        <rules>
            <name>FR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EBH_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FR</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_T_C_For_FR</targetReference>
            </connector>
            <label>FR</label>
        </rules>
    </decisions>
    <description>US-0009871 - [Refurb] Send Click Agreements to Contract Sellers,
US-0011123 - IT/FR Refurb Click Contracts Emails</description>
    <interviewLabel>Contract Record Trigger Flow Before Insert {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contract Record Trigger Flow Before Insert</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <object>Contract</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
