unpackaged/main/default/flows/Coupon_Create_Update_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>US-0009100 - Hypercare bug: Coupon Seller Stage Not Updating</description>
        <name>Checking_Start_Date_and_End_Date</name>
        <label>Checking Start Date and End Date</label>
        <locationX>578</locationX>
        <locationY>527</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>To_RUNNING</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Start_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Coupon Running</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_since_coupon_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Coupon_Running</targetReference>
            </connector>
            <label>To RUNNING</label>
        </rules>
        <rules>
            <name>To_Executed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_End_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Coupon Executed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Days_since_coupon_End_Date__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Coupon_To_Executed</targetReference>
            </connector>
            <label>To Executed</label>
        </rules>
        <rules>
            <name>T4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_since_coupon_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger4DayAfterEndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>T4 Statement Send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_T4</targetReference>
            </connector>
            <label>T4</label>
        </rules>
        <rules>
            <name>T40</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Days_since_coupon_End_Date__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>40.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trigger34DayAfterEndDate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Stage__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>T34 Statement Send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_T40</targetReference>
            </connector>
            <label>T40</label>
        </rules>
    </decisions>
    <description>all flows for Coupon.
US-0011423 - Stages on Coupon are not updated (Running, Exectured, T40 statement)</description>
    <interviewLabel>Coupon Create Update After Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coupon Create Update After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <description>TriggerStageUpdatedDate to allow system to update stages (not allow manually for specific stages)
Set Coupon To Running</description>
        <name>Set_Coupon_Running</name>
        <label>Set Coupon Running</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Coupon Running</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TriggerStageUpdatedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>TriggerStageUpdatedDate to by pass trigger (NOT allow manually update these statuses)
Set Coupon To Executed</description>
        <name>Set_Coupon_To_Executed</name>
        <label>Set Coupon To Executed</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>Coupon Executed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TriggerStageUpdatedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update stage to T40 Statement Send</description>
        <name>To_T4</name>
        <label>To T4</label>
        <locationX>578</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>T4 Statement Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger4DayAfterEndDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TriggerStageUpdatedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <description>update stage to T40 Statement Send</description>
        <name>To_T40</name>
        <label>To T40</label>
        <locationX>842</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Stage__c</field>
            <value>
                <stringValue>T34 Statement Send</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Trigger34DayAfterEndDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TriggerStageUpdatedDate__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Coupon_End_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Coupon_Start_Date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Coupon__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X1H_Before_Start_Date_Time</name>
            <connector>
                <targetReference>Checking_Start_Date_and_End_Date</targetReference>
            </connector>
            <label>1H Before Start Date Time</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Start_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X1H_Before_End_Date_Time</name>
            <connector>
                <targetReference>Checking_Start_Date_and_End_Date</targetReference>
            </connector>
            <label>1H Before End Date Time</label>
            <offsetNumber>-1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>End_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X4_Days_After_Enddate</name>
            <connector>
                <targetReference>Checking_Start_Date_and_End_Date</targetReference>
            </connector>
            <label>4 Days After End Date</label>
            <offsetNumber>4</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>End_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>X40_Days_After_Endate</name>
            <connector>
                <targetReference>Checking_Start_Date_and_End_Date</targetReference>
            </connector>
            <label>40 Days After End Date</label>
            <offsetNumber>40</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>End_Date_Time__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
