unpackaged/main/default/flows/Coupon_Seller_Record_Trigger_Flow_Time_Based.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_To_List</name>
        <label>Add To List</label>
        <locationX>423</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>List_SEP_Comm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oSEP_Com</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_all_Contacts_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SEP_Comm</name>
        <label>Assign SEP Comm</label>
        <locationX>423</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>oSEP_Com.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.Coupon_Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.Email_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sign Agreement Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seller Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Seller_Comm_RecordType_Infor_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DE</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>US-0012115 - NA localization - Seller Communication- Contract Signature Reminder</description>
        <name>Assign_To_List_0</name>
        <label>Assign To List</label>
        <locationX>687</locationX>
        <locationY>1248</locationY>
        <assignmentItems>
            <assignToReference>List_SEP_Comm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oSEP_Com</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_all_Contacts_2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>US-0012115 - NA localization - Seller Communication- Contract Signature Reminder</description>
        <name>NA_Assign_SEP_Comm</name>
        <label>NA Assign SEP Comm</label>
        <locationX>687</locationX>
        <locationY>1128</locationY>
        <assignmentItems>
            <assignToReference>oSEP_Com.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.Coupon_Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.Email_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sign Agreement Reminder</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seller Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Seller_Comm_RecordType_Infor_2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Com.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_List_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Condition_for_Seller_Comm_Creation_2</name>
        <label>Check Condition for Seller Comm Creation</label>
        <locationX>665</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_True</name>
            <conditionLogic>1 AND (2 OR 3) AND 4 AND 5 AND (6 OR 8) AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manhattan_Coupon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Category Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Send</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.EBH_EmailOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon__r.Main_Coupon_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ebay.de</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Beta_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon__r.Main_Coupon_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ebay.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_SP_Coupon</targetReference>
            </connector>
            <label>Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Coupon_Seller_Stage</name>
        <label>Check Coupon Seller Stage</label>
        <locationX>896</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Contract_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Seller_Comm_RecordType_Infor_2</targetReference>
            </connector>
            <label>Stage Contract Send</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_SP_Coupon</name>
        <label>Check SP Coupon</label>
        <locationX>467</locationX>
        <locationY>648</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsTrue_Check_SP_Coupon</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Group__r.SP_Coupons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allowed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.SP_Coupons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Access</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associated_Contact_with_Active_Community_Users_2</targetReference>
            </connector>
            <label>Is True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Main_site</name>
        <label>Main site</label>
        <locationX>687</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Iterate_all_Contacts_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MainCouponSite_ebay_de</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon__r.Main_Coupon_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ebay.de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SEP_Comm</targetReference>
            </connector>
            <label>MainCouponSite = ebay.de</label>
        </rules>
        <rules>
            <name>MainCouponSite_ebay_com</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon__r.Main_Coupon_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ebay.com</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_Assign_SEP_Comm</targetReference>
            </connector>
            <label>MainCouponSite=ebay.com</label>
        </rules>
    </decisions>
    <description>US-0011435 - Creation of seller communication records for coupons - AC4 &amp; AC6,
US-0011991 - AC1
US-0011998 - Business Feedback Focus 75 AC6
US-0012115 - NA localization - Seller Communication- Contract Signature Reminder</description>
    <environments>Default</environments>
    <interviewLabel>Coupon Seller - Record Trigger Flow - Time Based {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coupon Seller - Record Trigger Flow - Time Based</label>
    <loops>
        <name>Iterate_all_Contacts_2</name>
        <label>Iterate all Contacts</label>
        <locationX>335</locationX>
        <locationY>888</locationY>
        <collectionReference>List_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Main_site</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SEP_Comm</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SEP_Comm</name>
        <label>Create SEP Comm</label>
        <locationX>335</locationX>
        <locationY>1560</locationY>
        <inputReference>List_SEP_Comm</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Associated_Contact_with_Active_Community_Users_2</name>
        <label>Get Associated Contact with Active Community Users</label>
        <locationX>335</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_all_Contacts_2</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Seller__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Community_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Original_Seller__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Seller__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>List_Contact</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Seller_Comm_RecordType_Infor_2</name>
        <label>Get Seller Comm RecordType Infor</label>
        <locationX>665</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Condition_for_Seller_Comm_Creation_2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Coupons</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seller_Communication__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Coupon_Seller_Stage__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Contract Send</stringValue>
            </value>
        </filters>
        <object>Coupon_Seller__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <name>X2_Days_before_Coupon_Contract_Due_Date</name>
            <connector>
                <targetReference>Check_Coupon_Seller_Stage</targetReference>
            </connector>
            <label>2 Days before Coupon Contract Due Date</label>
            <offsetNumber>-2</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>Contract_Due_Date__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>List_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>List_SEP_Comm</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Seller_Communication__c</objectType>
    </variables>
    <variables>
        <name>oSEP_Com</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Seller_Communication__c</objectType>
    </variables>
</Flow>
