unpackaged/main/default/flows/Coupon_Seller_Record_Trigger_Flow_After_Context.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Generate random unique value</description>
        <name>generateUniqueString</name>
        <label>generateUniqueString</label>
        <locationX>875</locationX>
        <locationY>455</locationY>
        <actionName>ApexUtil</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Update_Digest</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ids</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>US-0011779 - Internal Coupon Seller Approval flow for NA</description>
        <name>NA_Coupons_Co_fund_approval</name>
        <label>NA Coupons Co-fund approval</label>
        <locationX>842</locationX>
        <locationY>911</locationY>
        <actionName>submit</actionName>
        <actionType>submit</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>processDefinitionNameOrId</name>
            <value>
                <stringValue>NA_Coupons_Co_fund_approval</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>US-0010667 - Notify Coupon Seller Owner when Items Uploaded by Seller</description>
        <name>Notify_Coupon_Seller_Owner</name>
        <label>Notify Coupon Seller Owner</label>
        <locationX>50</locationX>
        <locationY>1151</locationY>
        <actionName>Coupon_Seller__c.Coupon_Seller_Items_Uploaded_by_Seller</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <description>US-0012114 - NA localization - Seller Communication- Contract Signature Invitation</description>
        <name>Assign_SEP_Comm_4</name>
        <label>Assign SEP Comm</label>
        <locationX>1227</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Coupon_Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Email_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sign Agreement Invitation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seller Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Seller_Comm_RecordType_Infor.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_List_0_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_List</name>
        <label>Assign To List</label>
        <locationX>963</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>List_SEP_Comm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oSEP_Comm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Condition_for_Seller_Comm_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_List_0</name>
        <label>Assign To List</label>
        <locationX>963</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>List_SEP_Comm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oSEP_Comm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Condition_for_Seller_Comm_Creation_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_List_0_0</name>
        <label>Assign To List</label>
        <locationX>963</locationX>
        <locationY>3311</locationY>
        <assignmentItems>
            <assignToReference>List_SEP_Comm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oSEP_Comm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_all_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_List_0_0_0</name>
        <label>Assign To List</label>
        <locationX>1227</locationX>
        <locationY>2399</locationY>
        <assignmentItems>
            <assignToReference>List_SEP_Comm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oSEP_Comm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Condition_for_Seller_Comm_Creation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_To_List_0_0_0_0_0</name>
        <label>Assign To List</label>
        <locationX>1227</locationX>
        <locationY>3311</locationY>
        <assignmentItems>
            <assignToReference>List_SEP_Comm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oSEP_Comm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_all_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>US-0012114 - NA localization - Seller Communication- Contract Signature Invitation</description>
        <name>Assign_To_List_0_1</name>
        <label>Assign To List</label>
        <locationX>1227</locationX>
        <locationY>2855</locationY>
        <assignmentItems>
            <assignToReference>List_SEP_Comm</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>oSEP_Comm</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Condition_for_Seller_Comm_Creation_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_SEP_Comm</name>
        <label>Assing SEP Comm</label>
        <locationX>963</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Coupon_Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Email_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upload Items Invitation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seller Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Seller_Comm_RecordType_Infor.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_List</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_SEP_Comm_2</name>
        <label>Assing SEP Comm</label>
        <locationX>963</locationX>
        <locationY>2735</locationY>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Coupon_Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Email_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sign Agreement Invitation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seller Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Seller_Comm_RecordType_Infor.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_List_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assing_SEP_Comm_3</name>
        <label>Assing SEP Comm</label>
        <locationX>963</locationX>
        <locationY>3191</locationY>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Coupon_Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Email_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signed Agreement Confirmation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seller Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Seller_Comm_RecordType_Infor.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>DE</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_List_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>US-0012016 - NA localization - Seller Communication- Item Upload Invitation</description>
        <name>NA_Assign_SEP_Comm</name>
        <label>NA Assign SEP Comm</label>
        <locationX>1227</locationX>
        <locationY>2279</locationY>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Coupon_Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Email_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Upload Items Invitation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seller Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Seller_Comm_RecordType_Infor.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_List_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>US-0012116 - NA localization - Seller Communication- Contract Signature Confirmation</description>
        <name>NA_Assign_SEP_Comm_Contract_Signature_Confirmation</name>
        <label>NA Assign SEP Comm Contract Signature Confirmation</label>
        <locationX>1227</locationX>
        <locationY>3191</locationY>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Coupon_Seller__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Delivery_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Email_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Signed Agreement Confirmation</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Platform__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Seller Portal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Seller_Comm_RecordType_Infor.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>NA</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oSEP_Comm.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_all_Contacts.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_List_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>US-0011435 - Creation of seller communication records for coupons
US-0012114 - NA localization - Seller Communication- Contract Signature Invitation</description>
        <name>Check_Condition_for_Seller_Comm_Creation</name>
        <label>Check Condition for Seller Comm Creation</label>
        <locationX>1227</locationX>
        <locationY>2615</locationY>
        <defaultConnector>
            <targetReference>Check_Condition_for_Seller_Comm_Creation_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coupon_Contract_Signature_Invitation</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND ((5 AND 6) OR 8) AND 7 AND 9 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Send</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manhattan_Coupon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Category Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Allow_reaccept_contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContractDueDateIsDued</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon__r.Main_Coupon_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ebay.de</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContractDueDateIsDued</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Beta_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.EBH_EmailOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_SEP_Comm_2</targetReference>
            </connector>
            <label>Coupon Contract Signature Invitation</label>
        </rules>
        <rules>
            <name>NA_Coupon_Contract_Signature_Invitation</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND ((5 AND 6) OR 8) AND 7 AND 9 AND 10</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Send</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manhattan_Coupon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Category Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Allow_reaccept_contract__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContractDueDateIsDued</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon__r.Main_Coupon_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ebay.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varContractDueDateIsDued</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Beta_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.EBH_EmailOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SEP_Comm_4</targetReference>
            </connector>
            <label>NA Coupon Contract Signature Invitation</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0011435 - Creation of seller communication records for coupons</description>
        <name>Check_Condition_for_Seller_Comm_Creation_0</name>
        <label>Check Condition for Seller Comm Creation</label>
        <locationX>1227</locationX>
        <locationY>2159</locationY>
        <defaultConnector>
            <targetReference>Check_Condition_for_Seller_Comm_Creation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coupon_Item_Upload_Invitation_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Negotiation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manhattan_Coupon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.EBH_EmailOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon__r.Main_Coupon_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ebay.de</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Beta_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_SEP_Comm</targetReference>
            </connector>
            <label>Coupon Item Upload Invitation</label>
        </rules>
        <rules>
            <name>NA_Item_Upload_Invitation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Negotiation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manhattan_Coupon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon__r.Main_Coupon_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ebay.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.EBH_EmailOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Beta_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_Assign_SEP_Comm</targetReference>
            </connector>
            <label>NA Item Upload Invitation</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0011435 - Creation of seller communication records for coupons</description>
        <name>Check_Condition_for_Seller_Comm_Creation_0_0</name>
        <label>Check Condition for Seller Comm Creation</label>
        <locationX>1227</locationX>
        <locationY>3071</locationY>
        <defaultConnector>
            <targetReference>Iterate_all_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Coupon_Contract_Signature_Confirmation_0_0</name>
            <conditionLogic>1 AND 2 AND (3 OR 4) AND 5 AND 6 AND 7</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manhattan_Coupon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Category Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.EBH_EmailOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon__r.Main_Coupon_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ebay.de</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Beta_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assing_SEP_Comm_3</targetReference>
            </connector>
            <label>Coupon Contract Signature Confirmation</label>
        </rules>
        <rules>
            <name>NA_Contract_Signature_Confirmation</name>
            <conditionLogic>1 AND 2 AND 3 AND 4 AND 5 AND (6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Manhattan_Coupon</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon__r.Main_Coupon_Site__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ebay.com</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.EBH_EmailOut__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Beta_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Based</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Category Based</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_Assign_SEP_Comm_Contract_Signature_Confirmation</targetReference>
            </connector>
            <label>NA Contract Signature Confirmation</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0010667 - Notify Coupon Seller Owner when Items Uploaded by Seller</description>
        <name>Check_Coupon_Seller_Owner</name>
        <label>Check Coupon Seller Owner</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_User</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EBH_CouponSellerOwner__r.FirstName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EBH_CouponSellerOwner__r.FirstName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Integration</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EBH_CouponSellerOwner__r.LastName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>User</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Coupon_Seller_Owner</targetReference>
            </connector>
            <label>Check User</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0010667 - Notify Coupon Seller Owner when Items Uploaded by Seller</description>
        <name>Check_Coupon_Seller_Stage</name>
        <label>Check Coupon Seller Stage</label>
        <locationX>1007</locationX>
        <locationY>791</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Coupon_Type</targetReference>
            </connector>
            <label>Stage Review</label>
        </rules>
        <rules>
            <name>Stage_Sent_for_Approval</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sent for Approval</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NA_Coupons_Co_fund_approval</targetReference>
            </connector>
            <label>Stage Sent for Approval</label>
        </rules>
        <rules>
            <name>Stage_Contract_Negotiation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Negotiation</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Seller_Comm_RecordType_Infor</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Contract Negotiation</label>
        </rules>
        <rules>
            <name>Stage_Contract_Send</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Seller_Comm_RecordType_Infor</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Contract Send</label>
        </rules>
        <rules>
            <name>Stage_Contract_Signed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Signed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Seller_Comm_RecordType_Infor</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage Contract Signed</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0010667 - Notify Coupon Seller Owner when Items Uploaded by Seller</description>
        <name>Check_Coupon_Type</name>
        <label>Check Coupon Type</label>
        <locationX>380</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Item_Based</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Coupon_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Item Based</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Coupon_Seller_Owner</targetReference>
            </connector>
            <label>Item Based</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0011631 - Create invocable method to encrypt SF record Ids or generate random unique value</description>
        <name>Check_Digest_Value</name>
        <label>Check Digest Value</label>
        <locationX>1007</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_Coupon_Seller_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Empty_Digest</name>
            <conditionLogic>1 AND (2 OR 3 OR 4 OR 5 OR 6 OR 7)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Digest__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Targeted</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reached</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commited</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Negotiation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Coupon_Seller_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Contract Send</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>generateUniqueString</targetReference>
            </connector>
            <label>Is Empty Digest</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Seller_SP_Coupon_Level</name>
        <label>Check Seller SP Coupon Level</label>
        <locationX>1007</locationX>
        <locationY>1799</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_SP_Coupon</name>
            <conditionLogic>(1 AND 2) OR (3 AND 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Group__r.SP_Coupons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Allowed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.Seller_Portal_Group__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Seller__r.SP_Coupons__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full Access</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associated_Contact_with_Active_Community_Users</targetReference>
            </connector>
            <label>Check SP Coupon</label>
        </rules>
    </decisions>
    <description>US-0011631 - Create invocable method to encrypt SF record Ids or generate random unique value
US-0010667 - Notify Coupon Seller Owner when Items Uploaded by Seller
US-0011435 - Creation of seller communication records for coupons
US-0011991 - AC1
US-0011998 - Business Feedback Focus 75 AC6
US-0011779 - Internal Coupon Seller Approval flow for NA
US-0012112 - Lightning Email Logic for DE Coupon Sellers - Contract Signature Confirmation
US-0012114 - NA localization - Seller Communication- Contract Signature Invitation
US-0012016 - NA localization - Seller Communication- Item Upload Invitation
US-0012116 - NA localization - Seller Communication- Contract Signature Confirmation</description>
    <environments>Default</environments>
    <formulas>
        <description>TODAY &gt; Contract Due Date</description>
        <name>varContractDueDateIsDued</name>
        <dataType>Boolean</dataType>
        <expression>TODAY() &gt; {!$Record.Coupon_Contract_Due_Date__c}</expression>
    </formulas>
    <interviewLabel>Coupon {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Coupon Seller - Record Trigger Flow - After Context</label>
    <loops>
        <name>Iterate_all_Contacts</name>
        <label>Iterate all Contacts</label>
        <locationX>875</locationX>
        <locationY>2039</locationY>
        <collectionReference>List_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Condition_for_Seller_Comm_Creation_0</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SEP_Comm</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SEP_Comm</name>
        <label>Create SEP Comm</label>
        <locationX>875</locationX>
        <locationY>3623</locationY>
        <inputReference>List_SEP_Comm</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Associated_Contact_with_Active_Community_Users</name>
        <label>Get Associated Contact with Active Community Users</label>
        <locationX>875</locationX>
        <locationY>1919</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_all_Contacts</targetReference>
        </connector>
        <filterLogic>(1 AND 2) OR 3</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Seller__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Community_User__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Original_Seller__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Seller__c</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputReference>List_Contact</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Seller_Comm_RecordType_Infor</name>
        <label>Get Seller Comm RecordType Infor</label>
        <locationX>1007</locationX>
        <locationY>1679</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Seller_SP_Coupon_Level</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Coupons</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seller_Communication__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Digest</name>
        <label>Update Digest</label>
        <locationX>875</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Check_Coupon_Seller_Stage</targetReference>
        </connector>
        <inputAssignments>
            <field>Digest__c</field>
            <value>
                <elementReference>generateUniqueString</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>881</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Digest_Value</targetReference>
        </connector>
        <object>Coupon_Seller__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>List_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>List_SEP_Comm</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Seller_Communication__c</objectType>
    </variables>
    <variables>
        <name>oContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>oSEP_Comm</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Seller_Communication__c</objectType>
    </variables>
</Flow>
