unpackaged/main/default/flows/eAAT_Segment_Child_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <description>this allows users to create child eaat segment request under the original eaat segment request</description>
    <dynamicChoiceSets>
        <name>Country</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>Country__c</picklistField>
        <picklistObject>Advertising_Request_Portal__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FindeAATRecordType</name>
        <dataType>String</dataType>
        <displayField>Name__c</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Record_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>eaat segment request</stringValue>
            </value>
        </filters>
        <object>Advertising_Request_Portal__c</object>
        <outputAssignments>
            <assignToReference>eAATSegmentRequest.Record_Type__c</assignToReference>
            <field>Record_Type__c</field>
        </outputAssignments>
        <valueField>Name__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>test</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>SobjectType</picklistField>
        <picklistObject>RecordType</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>eAAT Segment Child Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>eAAT Segment Child Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>this creates new child segment request under the original segment request</description>
        <name>Create_New_Child_Segment_Request</name>
        <label>Create New Child Segment Request</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignRecordIdToReference>newEaatSegmentRequest</assignRecordIdToReference>
        <inputAssignments>
            <field>Account_Manager__c</field>
            <value>
                <elementReference>get_Parent_Request.Account_Manager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>get_Parent_Request.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business__c</field>
            <value>
                <elementReference>get_Parent_Request.Business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category_Name__c</field>
            <value>
                <elementReference>Category_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Country__c</field>
            <value>
                <elementReference>Country</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Current_Sales_Rep__c</field>
            <value>
                <elementReference>get_Parent_Request.Current_Sales_Rep__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Request__c</field>
            <value>
                <elementReference>OriginaleAATSegmentRequest</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>eAATSegmentRecordType</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Type__c</field>
            <value>
                <elementReference>get_Parent_Request.Request_Type__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Timeframe__c</field>
            <value>
                <elementReference>Timeframe</elementReference>
            </value>
        </inputAssignments>
        <object>Advertising_Request_Portal__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Record_Type</name>
        <label>Find Record Type</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_Parent_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>eAAT_Segment_Details</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>eAATSegmentRecordType</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>get_Parent_Request</name>
        <label>get Parent Request</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Child_Segment_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OriginaleAATSegmentRequest</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Advertising_Request_Portal__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>eAATSegmentDetails</name>
        <label>eAAT Segment(s) Details</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Find_Record_Type</targetReference>
        </connector>
        <fields>
            <name>eAATSegmentDetailsRecord</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;eAAT Segment(s) Details&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display_Text</name>
            <fieldText>&lt;p&gt;Please fill out this form for each segment needed.&amp;nbsp;After clicking “Submit Segment” you will be able to enter the next segment details.&amp;nbsp;For example, if you have 5 segments, the form would be filled out 5 times&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Region</name>
            <choiceReferences>Country</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Country</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Category_Name</name>
            <dataType>String</dataType>
            <fieldText>Category Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Timeframe</name>
            <dataType>String</dataType>
            <fieldText>Timeframe</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <nextOrFinishButtonLabel>Submit Segment</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>eAATSegmentDetails</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>eAATSegmentRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>eAATSegmentRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advertising_Request_Portal__c</objectType>
    </variables>
    <variables>
        <name>newEaatSegmentRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>variable to store the parent eAAT Segment Request</description>
        <name>OriginaleAATSegmentRequest</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ParentRequest</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Advertising_Request_Portal__c</objectType>
    </variables>
</Flow>
