unpackaged/main/default/flows/Epilogue_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Close_Window</name>
        <label>Close Window</label>
        <locationX>468</locationX>
        <locationY>1910</locationY>
        <actionName>c:CloseWindow</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_David</name>
        <label>Send Email to David</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Close_task_and_increase_call_attempts</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>ErrormessagetoDavid</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>dherrero@ebay.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error creating follow up task</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_New_Follow_UP_Call</name>
        <label>Assign New Follow UP Call</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>FollowUpTask.Call_Back_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Follow_up_information</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.EBH_DMC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>FOLLOWUPCALL</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.Survey_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Survey_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.EBH_CampaignMemberId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.EBH_CampaignMemberId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.EBH_ResponseCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.Call_Back_Window_start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Follow_up_Call_Start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.Call_Back_Window_end__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Follow_up_Call_End</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone Outreach</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.Order_Priority__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Order_Priority__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.Follow_Up_Task__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.Contact_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.Contact_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>DueDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FollowUpTask.CallType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task.CallType</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insert_Follow_Up_Task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_Result_Comment</name>
        <label>Assign Survey Result Comment</label>
        <locationX>468</locationX>
        <locationY>1670</locationY>
        <assignmentItems>
            <assignToReference>Get_Ardira_Survey_Results.Task_Comment__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome_Summary_txtarea</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Survey_Result</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Close_task_and_increase_call_attempts</name>
        <label>Close task and increase call attempts</label>
        <locationX>468</locationX>
        <locationY>1430</locationY>
        <assignmentItems>
            <assignToReference>Get_Task.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task.Call_attempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Increasedcallattempts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task.EBH_DMC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Outcome_Summary_txtarea</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_task</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <name>Follow_Up_Required_question</name>
        <label>Follow Up Required?</label>
        <locationX>468</locationX>
        <locationY>518</locationY>
        <defaultConnector>
            <targetReference>Close_task_and_increase_call_attempts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Follow_Up_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Follow_up_required</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Follow_up_call</targetReference>
            </connector>
            <label>Follow Up True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Missing_Campaign_member_Id</name>
        <label>Missing Campaign member Id</label>
        <locationX>182</locationX>
        <locationY>998</locationY>
        <defaultConnector>
            <targetReference>Close_task_and_increase_call_attempts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Missing_is_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FollowUpTask.EBH_CampaignMemberId__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_David</targetReference>
            </connector>
            <label>Missing is true</label>
        </rules>
    </decisions>
    <description>Epilogue for AU
Status = Completed</description>
    <formulas>
        <name>DueDate</name>
        <dataType>Date</dataType>
        <expression>if (ISBLANK({!Get_Task.ActivityDate}),TODAY(),{!Get_Task.ActivityDate})</expression>
    </formulas>
    <formulas>
        <name>Increasedcallattempts</name>
        <dataType>Number</dataType>
        <expression>if ({!Get_Task.Call_attempts__c}&lt;3, ({!Get_Task.Call_attempts__c} +1),3)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Epilogue Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Epilogue Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Insert_Follow_Up_Task</name>
        <label>Insert Follow Up Task</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Missing_Campaign_member_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <inputReference>FollowUpTask</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Ardira_Survey_Results</name>
        <label>Get Ardira Survey Results</label>
        <locationX>468</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Outcome_summary</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ArdiraSurvey__Target_Record_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ArdiraSurvey__Survey_Result__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task</name>
        <label>Get Task</label>
        <locationX>468</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Ardira_Survey_Results</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Existing_task</name>
        <label>Update Existing task</label>
        <locationX>468</locationX>
        <locationY>1550</locationY>
        <connector>
            <targetReference>Assign_Survey_Result_Comment</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <inputReference>Get_Task</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Survey_Result</name>
        <label>Update Survey Result</label>
        <locationX>468</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Close_Window</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error_screen</targetReference>
        </faultConnector>
        <inputReference>Get_Ardira_Survey_Results</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>930</locationX>
        <locationY>1910</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;There was an error trying to update your Task.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Follow_up_call</name>
        <label>Follow up call</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_New_Follow_UP_Call</targetReference>
        </connector>
        <fields>
            <name>Follow_up_Call_Start</name>
            <dataType>DateTime</dataType>
            <fieldText>Follow - up Call Start</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Follow_up_Call_End</name>
            <dataType>DateTime</dataType>
            <fieldText>Follow - up Call End</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Follow_up_information</name>
            <fieldText>Follow up information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Maximum size is 255. Please reduce de length of this field&lt;/p&gt;</errorMessage>
                <formulaExpression>len ({!Follow_up_information})&lt;=255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Outcome_summary</name>
        <label>Outcome summary</label>
        <locationX>468</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Follow_Up_Required_question</targetReference>
        </connector>
        <fields>
            <name>Outcome_Summary_txtarea</name>
            <fieldText>Outcome Summary</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Follow_up_required</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Follow up required</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Task</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ErrormessagetoDavid</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;We got an error creating a follow up task for :&lt;/p&gt;&lt;p&gt;{!Get_Task.Id}&lt;/p&gt;&lt;p&gt;{!$User.Username}&lt;/p&gt;&lt;p&gt;{!Get_Task.WhatId}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>FollowUpTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
