unpackaged/main/default/flows/Nps_Flow_Summer_20_version.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Common_values_to_NPS_Reply</name>
        <label>Assign Common values to NPS Reply</label>
        <locationX>832</locationX>
        <locationY>902</locationY>
        <assignmentItems>
            <assignToReference>NPsUserReply.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetUserRecord.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NPsUserReply.Survey_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>GetUserRecord.Last_NPS_Survey_Send_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>now</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inser_NPS_records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_User_Replies_values_NOT_GCX</name>
        <label>Assign User Replies values NOT GCX</label>
        <locationX>832</locationX>
        <locationY>686</locationY>
        <assignmentItems>
            <assignToReference>NPsUserReply.Reply_question_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Radio_HowwouldyoufeelHive.selectedValue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NPsUserReply.Reply_question_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>How_can_we_improve_HIVE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Common_values_to_NPS_Reply</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Ialreadystoppedusing</name>
        <choiceText>{!Ialreadystopusingit}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>N/A - I already stopped using</stringValue>
        </value>
    </choices>
    <choices>
        <name>Notdisappointed</name>
        <choiceText>{!NotDisappointedformula}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Not disappointed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Somehowdisappointed</name>
        <choiceText>{!Somehowdisappointedformula}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Somehow disappointed </stringValue>
        </value>
    </choices>
    <choices>
        <name>Verydissapointed</name>
        <choiceText>{!VeryDissapointedFormula}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Very dissapointed </stringValue>
        </value>
    </choices>
    <decisions>
        <name>Show_NPS_Survey</name>
        <label>Show NPS Survey</label>
        <locationX>1096</locationX>
        <locationY>326</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>MoreThan90Days</name>
            <conditionLogic>(1 OR 2 ) and 3</conditionLogic>
            <conditions>
                <leftValueReference>GetUserRecord.Last_NPS_Survey_Send_Date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>MiniumTime</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUserRecord.Last_NPS_Survey_Send_Date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetUserRecord.CreatedDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>MiniumTimeToShowSurvey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Hive_Survey</targetReference>
            </connector>
            <label>MoreThan90Days</label>
        </rules>
    </decisions>
    <description>replaced constant 21 days with Custom Label</description>
    <environments>Default</environments>
    <formulas>
        <name>ClickNext</name>
        <dataType>String</dataType>
        <expression>if({!IsCGXProfile},{!$Label.Please_click_NEXT},{!$Label.Click_Submit_Hive})</expression>
    </formulas>
    <formulas>
        <name>HowCanweimproveformulagcx</name>
        <dataType>String</dataType>
        <expression>{!$Label.how_can_we_improve}</expression>
    </formulas>
    <formulas>
        <name>Howcanweimprovehive</name>
        <dataType>String</dataType>
        <expression>{!$Label.How_can_we_improve_Hive}</expression>
    </formulas>
    <formulas>
        <name>HowDoyoufeelformula</name>
        <dataType>String</dataType>
        <expression>{!$Label.How_would_you_feel_GCX}</expression>
    </formulas>
    <formulas>
        <description>{!$Label.How_would_you_feel_Hive}</description>
        <name>Howwouldyoufeelhive</name>
        <dataType>String</dataType>
        <expression>{!$Label.How_would_you_feel_Hive}</expression>
    </formulas>
    <formulas>
        <name>Ialreadystopusingit</name>
        <dataType>String</dataType>
        <expression>{!$Label.I_already_stop_using}</expression>
    </formulas>
    <formulas>
        <name>IsCGXProfile</name>
        <dataType>Boolean</dataType>
        <expression>if (CONTAINS({!$Profile.Name},&quot;GCX&quot;),true,false)</expression>
    </formulas>
    <formulas>
        <name>MiniumTime</name>
        <dataType>Date</dataType>
        <expression>today()-90</expression>
    </formulas>
    <formulas>
        <description>let&#39;s wait at least 1 week to show the survey</description>
        <name>MiniumTimeToShowSurvey</name>
        <dataType>DateTime</dataType>
        <expression>now()-value({!$Label.days_since_user_was_created})</expression>
    </formulas>
    <formulas>
        <name>NotDisappointedformula</name>
        <dataType>String</dataType>
        <expression>{!$Label.Not_dissapointed}</expression>
    </formulas>
    <formulas>
        <name>now</name>
        <dataType>DateTime</dataType>
        <expression>now()</expression>
    </formulas>
    <formulas>
        <name>NPSURL</name>
        <dataType>String</dataType>
        <expression>&quot;https://app.clicktools.com/go?iv=&quot; &amp; if(CONTAINS(&quot;GCX&quot;,{!$Profile.Name}),{!$Setup.EBH_OutboundLink__c.NPS_GCX_Survey__c},{!$Setup.EBH_OutboundLink__c.NPS_Survey_URL__c})</expression>
    </formulas>
    <formulas>
        <name>Somehowdisappointedformula</name>
        <dataType>String</dataType>
        <expression>{!$Label.Somehow_dissapointed}</expression>
    </formulas>
    <formulas>
        <name>today</name>
        <dataType>Date</dataType>
        <expression>today()</expression>
    </formulas>
    <formulas>
        <name>UserIdFormula</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>VeryDissapointedFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.Very_dissapointed}</expression>
    </formulas>
    <interviewLabel>Nps Flow - Summer 20 version {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Nps Flow - Summer 20 version</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Inser_NPS_records</name>
        <label>Inser NPS records</label>
        <locationX>832</locationX>
        <locationY>1022</locationY>
        <connector>
            <targetReference>Update_User_Info</targetReference>
        </connector>
        <inputReference>NPsUserReply</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetUserRecord</name>
        <label>GetUserRecord</label>
        <locationX>1096</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Show_NPS_Survey</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>UserIdFormula</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_User_Info</name>
        <label>Update User Info</label>
        <locationX>832</locationX>
        <locationY>1142</locationY>
        <inputReference>GetUserRecord</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Hive_Survey</name>
        <label>Hive Survey</label>
        <locationX>832</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Assign_User_Replies_values_NOT_GCX</targetReference>
        </connector>
        <fields>
            <name>HiveLogo_0</name>
            <extensionName>flowruntime:image</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>imageName</name>
                <value>
                    <stringValue>Hive_NPS_Logo</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>how_would_you_feel_lbl</name>
            <fieldText>&lt;p&gt;{!Howwouldyoufeelhive}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Radio_HowwouldyoufeelHive</name>
            <extensionName>c:RateValueSelector</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>require</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>lblhowcanweimprovehive</name>
            <fieldText>&lt;p&gt;{!Howcanweimprovehive}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>How_can_we_improve_HIVE</name>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ClickNexttxt_hive</name>
            <fieldText>&lt;p&gt;{!ClickNext}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>970</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>GetUserRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NPsUserReply</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NPS_Surveys_Replies__c</objectType>
    </variables>
    <variables>
        <name>profilename</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
