unpackaged/main/default/flows/Project_Record_Triggered_Flow_After_Update.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Project_SRM_Appeal_Status_Approved_Email_Alert</name>
        <label>Project SRM Appeal Status Approved Email Alert</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <actionName>EBH_Project__c.Project_SRM_Appeal_Status_Approved_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Project_SRM_Appeal_Status_Rejected_Email_Alert</name>
        <label>Project SRM Appeal Status Rejected Email Alert</label>
        <locationX>666</locationX>
        <locationY>935</locationY>
        <actionName>EBH_Project__c.Project_SRM_Appeal_Status_Rejected_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Stage</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>UK_SRM_CUD_GCX_Send_Email</name>
        <label>UK SRM CUD/GCX Send Email</label>
        <locationX>1251</locationX>
        <locationY>1655</locationY>
        <actionName>EBH_Project__c.Project_SRM_Stage_On_Hold_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <name>Check_Appeal_Status</name>
        <label>Check Appeal Status</label>
        <locationX>809</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Appeal_Status_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appeal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Created_By_Admin_0</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Approved</label>
        </rules>
        <rules>
            <name>Check_Appeal_Status_Rejected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Appeal_Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Is_Created_By_Admin</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Rejected</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0011465 - Acmatac SEING, Checking stage value</description>
        <name>Check_Project_Stage</name>
        <label>Check Stage</label>
        <locationX>1133</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Check_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Stage_Appeal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.EBH_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Appeal</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Appeal_Status</targetReference>
            </connector>
            <label>Appeal</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0011465 - Acmatac SEING, Each flow should have recordtype decision</description>
        <name>Check_Record_Type</name>
        <label>Check Record Type</label>
        <locationX>1383</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Check_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Seller_Risk_Management</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seller_Risk_Management</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Project_Stage</targetReference>
            </connector>
            <label>Seller Risk Management</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Stage</name>
        <label>Check Stage</label>
        <locationX>1383</locationX>
        <locationY>1535</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_On_Hold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.UK_Seller_Risk_Management_CUD_GCX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.EBH_Stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>On-Hold</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UK_SRM_CUD_GCX_Send_Email</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Stage = On-Hold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Permission</name>
        <label>Check User Permission</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Check_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_User_Permission_UK_Seller_Risk_Management_CUD_GCX</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.UK_Seller_Risk_Management_CUD_GCX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_SRM_Appeal_Status_Approved_Email_Alert</targetReference>
            </connector>
            <label>UK Seller Risk Management CUD/GCX</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_User_Permission_0</name>
        <label>Check User Permission</label>
        <locationX>798</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Check_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_User_Permission_UK_Seller_Risk_Management_CUD_GCX_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Permission.UK_Seller_Risk_Management_CUD_GCX</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Project_SRM_Appeal_Status_Rejected_Email_Alert</targetReference>
            </connector>
            <label>UK Seller Risk Management CUD/GCX</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created by is Admin or Admin Privileges</description>
        <name>Is_Created_By_Admin</name>
        <label>Is Created By Admin</label>
        <locationX>952</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Created_By_Admin_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator - Limited Privileges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_Permission_0</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <decisions>
        <description>Created by is Admin or Admin Privileges</description>
        <name>Is_Created_By_Admin_0</name>
        <label>Is Created By Admin</label>
        <locationX>336</locationX>
        <locationY>695</locationY>
        <defaultConnector>
            <targetReference>Check_Stage</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Created_By_Admin_False_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.CreatedBy.Profile.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator - Limited Privileges</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_User_Permission</targetReference>
            </connector>
            <label>False</label>
        </rules>
    </decisions>
    <description>US-0011465 - Acmatac SEING</description>
    <interviewLabel>Project Record-Triggered Flow After-Update {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project Record-Triggered Flow After-Update</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1257</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Record_Type</targetReference>
        </connector>
        <object>EBH_Project__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
