unpackaged/main/default/flows/PrologueFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Open_Survey</name>
        <label>Open Survey</label>
        <locationX>3658</locationX>
        <locationY>4322</locationY>
        <actionName>c:OpenURL</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>mode</name>
            <value>
                <stringValue>newWindow</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>url</name>
            <value>
                <elementReference>SurveyURL</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <description>US-0011439 - Duplicate Management Contacts</description>
        <name>Save_Contacts</name>
        <label>Save Contacts</label>
        <locationX>3152</locationX>
        <locationY>5714</locationY>
        <actionName>StartCallScriptController</actionName>
        <actionType>apex</actionType>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetCampaignMemberDetails</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>contacts</name>
            <value>
                <elementReference>NewContact</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>NewContact.Id</assignToReference>
            <name>output</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_Call_Attempts_value_if_null</name>
        <label>Assign Call Attempts value if null</label>
        <locationX>1799</locationX>
        <locationY>614</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Data.Call_attempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallAttemptsValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Has_missing_required_fields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Contact_Id</name>
        <label>Assign Contact Id</label>
        <locationX>3548</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Data.WhoId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetContactInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Correct_Contact_Id</name>
        <label>Assign Correct Contact Id</label>
        <locationX>4736</locationX>
        <locationY>5114</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Select_the_correct_Contact2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Updatecontact</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>GetContactInfo</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_primary_contact</name>
        <label>assign primary contact</label>
        <locationX>3284</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>GetContactInfo.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_contact_primary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_response_code_25</name>
        <label>Assign response code 25</label>
        <locationX>3614</locationX>
        <locationY>2762</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Data.EBH_ResponseCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>25.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Response_Code_30</name>
        <label>Assign Response Code 30</label>
        <locationX>3878</locationX>
        <locationY>2882</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Data.EBH_ResponseCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>30.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Response_Code_40</name>
        <label>Assign Response Code 40</label>
        <locationX>4406</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Data.EBH_ResponseCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>40.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Response_Code_50</name>
        <label>Assign Response Code 50</label>
        <locationX>4142</locationX>
        <locationY>3002</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Data.EBH_ResponseCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>50.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_current_task</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Seller_Ineligible_Reasons</name>
        <label>Assign Seller Ineligible Reasons</label>
        <locationX>2602</locationX>
        <locationY>2186</locationY>
        <assignmentItems>
            <assignToReference>GetCampaignMember.Seller_Ineligible_Reasons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RB_Seller_Ineligible_Reasons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Member_Seller_Ineligible</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_status_completed</name>
        <label>Assign status completed</label>
        <locationX>3922</locationX>
        <locationY>2306</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Data.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assignment_decission_1</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_URL</name>
        <label>Assign Survey URL</label>
        <locationX>3394</locationX>
        <locationY>4106</locationY>
        <assignmentItems>
            <assignToReference>SurveyURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SurveyVistaURL</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Survey_URL_0</name>
        <label>Assign Survey URL</label>
        <locationX>3922</locationX>
        <locationY>3866</locationY>
        <assignmentItems>
            <assignToReference>SurveyURL</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClickToolsSurvey</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Open_Survey</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Task_Id</name>
        <label>Assign Task Id</label>
        <locationX>1755</locationX>
        <locationY>278</locationY>
        <assignmentItems>
            <assignToReference>taskId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Task_Data</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_new_task_with_New_Contact_0</name>
        <label>Create new task with New Contact</label>
        <locationX>1106</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>newTask.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Data.WhoId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Data.WhatId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Data.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.EBH_DMC__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Phone Outreach</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GCX Outreach call task</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Survey_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Data.Survey_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.EBH_CampaignMemberId__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Data.EBH_CampaignMemberId__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.EBH_ResponseCode__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Call_attempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Call_Back_Window_start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallBackCall_back_start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Call_Back_Window_end__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallBackCall_back_ends</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.Call_Back_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>increasedCallBackComments</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTask.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Data.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_new_task_with_call_back</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Increase_Call_Attempts</name>
        <label>Increase Call Attempts</label>
        <locationX>4054</locationX>
        <locationY>2066</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Data.Call_attempts__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>IncreasedCallattempts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Status_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Contact_Assign_Values</name>
        <label>New Contact Assign Values</label>
        <locationX>2360</locationX>
        <locationY>5114</locationY>
        <assignmentItems>
            <assignToReference>NewContact.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Task_Data.AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Last_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.EBH_EmailOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContactEmailOptOut</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.EBH_PhoneOptOut__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Formula_Email_Opt_out</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Primary_Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Mark_Selected_Contact_as_Primary</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContactEmaillbl.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContactPhonelbl.value</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewContact.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0126A000000T3OQQA0</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Save_new_contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>OpenSurvey_True</name>
        <label>OpenSurvey True</label>
        <locationX>314</locationX>
        <locationY>2546</locationY>
        <assignmentItems>
            <assignToReference>OpenSurvey</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Status_Completed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>With new Contacts</description>
        <name>Update_Campaign_Member_Details</name>
        <label>Update Campaign Member Details</label>
        <locationX>2360</locationX>
        <locationY>5474</locationY>
        <assignmentItems>
            <assignToReference>contactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Campaign_Member</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Existing_Task</name>
        <label>Update Existing Task</label>
        <locationX>842</locationX>
        <locationY>2666</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Data.Call_Back_Window_start__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallBackCall_back_start</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task_Data.Call_Back_Window_end__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CallBackCall_back_ends</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Task_Data.Call_Back_Comments__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>increasedCallBackComments</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Increase_Call_Attempts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Task_Details</name>
        <label>Update Task Details</label>
        <locationX>2360</locationX>
        <locationY>5714</locationY>
        <assignmentItems>
            <assignToReference>Get_Task_Data.WhoId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>NewContact.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Existing_Task_and_continue</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Accountregisteredonadifferentebaysite</name>
        <choiceText>{!$Label.prologue_Account_registered_on_a_different_eBay_site}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Account_registered_on_a_different_eBay_site</stringValue>
        </value>
    </choices>
    <choices>
        <name>ATO</name>
        <choiceText>{!$Label.prologue_ATO}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>ATO</stringValue>
        </value>
    </choices>
    <choices>
        <name>BSTD</name>
        <choiceText>{!$Label.prologue_BSTD}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>BSTD</stringValue>
        </value>
    </choices>
    <choices>
        <name>CallNotAnswered</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;{!$Label.prologue_Call_Not_Answered}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Call not answered</stringValue>
        </value>
    </choices>
    <choices>
        <description>US-0011636 - SPIKE - Duplicate Management Contacts</description>
        <name>ChangeContact</name>
        <choiceText>{!$Label.prologue_Change_Contact}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceNoNumeric</name>
        <choiceText>{!NoLabelFormula}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceSellerIneligibleNumeric</name>
        <choiceText>{!$Label.prologue_Seller_Ineligible}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>ChoiceYesNumeric</name>
        <choiceText>{!YesFormula}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>createNewContact</name>
        <choiceText>{!$Label.prologue_createNewContact}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>CreateContact</stringValue>
        </value>
    </choices>
    <choices>
        <name>DeletedAccount</name>
        <choiceText>{!$Label.prologue_Deleted_account}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Deleted Account</stringValue>
        </value>
    </choices>
    <choices>
        <description>US-0011636 - SPIKE - Duplicate Management Contacts</description>
        <name>ignoreWarning</name>
        <choiceText>{!$Label.prologue_Ignore_Contact_Duplicate_Warning}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>IncorrectUser</name>
        <choiceText>{!$Label.prologue_Incorrect_contact}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>InvalidPhoneNumber</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;{!$Label.prologue_Invalid_phone_number}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.Invalid_phone_number</elementReference>
        </value>
    </choices>
    <choices>
        <name>LineBusy</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;{!$Label.prologue_Line_busy}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Line Busy</stringValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>{!$Label.prologue_No}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Noactivelistings</name>
        <choiceText>{!$Label.prologue_No_active_listings}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No_active_listings</stringValue>
        </value>
    </choices>
    <choices>
        <name>Noconsenttophonecalls</name>
        <choiceText>{!$Label.prologue_No_consent_to_phone_calls}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No_consent_to_phone_calls</stringValue>
        </value>
    </choices>
    <choices>
        <name>NotReached</name>
        <choiceText>{!$Label.prologue_Not_reached}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>&lt;span style=&quot;font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;{!$Label.prologue_OtherReason}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Permanentsellingrestrictions</name>
        <choiceText>{!$Label.prologue_Permanent_selling_restriction}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Permanent_selling_restriction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proceedtocall</name>
        <choiceText>{!$Label.prologue_Proceed_to_call}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>SellerIneligible</name>
        <choiceText>{!$Label.prologue_Seller_Ineligible}</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Sellerrejectedthecall</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Helvetica; color: rgb(0, 0, 0);&quot;&gt;{!$Label.prologue_Seller_rejected_the_call}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>$Label.prologue_Seller_rejected_the_call</elementReference>
        </value>
    </choices>
    <choices>
        <name>SuspendedAccount</name>
        <choiceText>{!$Label.prologue_Suspended_Account}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Suspended Account</stringValue>
        </value>
    </choices>
    <choices>
        <name>URGENCYFLAG</name>
        <choiceText>{!$Label.prologue_Urgency_flag}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Urgency_flag</stringValue>
        </value>
    </choices>
    <choices>
        <name>WrongPhonenumber</name>
        <choiceText>{!$Label.prologue_Wrong_phone_number}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Wrong phone number</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>{!$Label.prologue_Yes}</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>PL_ADVERT_SURVEY_value</name>
        <dataType>String</dataType>
        <value>
            <stringValue>PL_ADVERT_SURVEY</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Are_you_DMC</name>
        <label>Are you DMC</label>
        <locationX>1722</locationX>
        <locationY>2066</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DmcTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HIYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Available</targetReference>
            </connector>
            <label>DmcTrue</label>
        </rules>
        <rules>
            <name>DmcFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>HIYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_the_correct_contact</targetReference>
            </connector>
            <label>DmcFalse</label>
        </rules>
    </decisions>
    <decisions>
        <name>Assignment_decission_1</name>
        <label>Proceed to call answer</label>
        <locationX>4054</locationX>
        <locationY>2522</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed_to_call_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstScreenOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Proceedtocall</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_current_task</targetReference>
            </connector>
            <label>Proceed to call true</label>
        </rules>
        <rules>
            <name>Proceed_to_call_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstScreenOption</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Proceedtocall</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Seller_Ineligible_option</targetReference>
            </connector>
            <label>Proceed to call false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Call_Attempts_less_than_2</name>
        <label>Call Attempts less than 2</label>
        <locationX>974</locationX>
        <locationY>2546</locationY>
        <defaultConnector>
            <targetReference>Create_new_task_with_New_Contact_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CallAttemtsLessThan2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Data.Call_attempts__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Existing_Task</targetReference>
            </connector>
            <label>CallAttemtsLessThan2 true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_RecordId</name>
        <label>Check RecordId</label>
        <locationX>1799</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Task_Data</targetReference>
            </connector>
            <label>IsNull</label>
        </rules>
        <rules>
            <name>IsNotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Task_Id</targetReference>
            </connector>
            <label>IsNotNull</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0011636 - SPIKE - Duplicate Management Contacts</description>
        <name>Contact_Duplicate_Options</name>
        <label>Contact Duplicate Options</label>
        <locationX>3548</locationX>
        <locationY>5594</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Ignore_Warning</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactDuplicateOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Save_Contacts</targetReference>
            </connector>
            <label>Ignore Warning</label>
        </rules>
        <rules>
            <name>Change_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactDuplicateOptions</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Select_the_correct_contact</targetReference>
            </connector>
            <label>Change Contact</label>
        </rules>
    </decisions>
    <decisions>
        <description>Create a new contact or select existing one</description>
        <name>Create_contact_or_select</name>
        <label>Create contact or select</label>
        <locationX>3548</locationX>
        <locationY>4874</locationY>
        <defaultConnector>
            <targetReference>selected_contact_null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create_new_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_correct_Contact2</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CreateContact</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Create_New_Contact</targetReference>
            </connector>
            <label>{!$Label.prologue_createNewContact}</label>
        </rules>
    </decisions>
    <decisions>
        <name>DecisionUserAvailable</name>
        <label>DecisionUserAvailable</label>
        <locationX>1106</locationX>
        <locationY>2306</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>AvailableTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OptionsAreYouAvailableToDiscuss</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceYesNumeric</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_CampaignMemberDetails</targetReference>
            </connector>
            <label>AvailableTrue</label>
        </rules>
        <rules>
            <name>avialableFalse</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OptionsAreYouAvailableToDiscuss</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceNoNumeric</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Schedule_call_back</targetReference>
            </connector>
            <label>avialableFalse</label>
        </rules>
        <rules>
            <name>Seller_Ineligible_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OptionsAreYouAvailableToDiscuss</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ChoiceSellerIneligibleNumeric</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Screen_Seller_Ineligible</targetReference>
            </connector>
            <label>Seller Ineligible True</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0011636 - SPIKE - Duplicate Management Contacts</description>
        <name>Duplicated_Detected</name>
        <label>Duplicated Detected</label>
        <locationX>3878</locationX>
        <locationY>5354</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Flow.FaultMessage</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>DUPLICATES_DETECTED</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duplicated_Error_Message</targetReference>
            </connector>
            <label>Duplicated</label>
        </rules>
    </decisions>
    <decisions>
        <description>This decision checks if the formula required fields is true</description>
        <name>Has_missing_required_fields</name>
        <label>Has missing required fields</label>
        <locationX>1799</locationX>
        <locationY>734</locationY>
        <defaultConnector>
            <targetReference>Get_Campaign</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Something_is_Wrong</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>checktaskvariables</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Some_field_is_missing</targetReference>
            </connector>
            <label>Something is Wrong</label>
        </rules>
    </decisions>
    <decisions>
        <name>Not_reached_50_option</name>
        <label>Not reached 50 option</label>
        <locationX>4274</locationX>
        <locationY>2882</locationY>
        <defaultConnector>
            <targetReference>Assign_Response_Code_40</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_reached_50_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Data.Call_attempts__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FirstScreenOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>NotReached</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Response_Code_50</targetReference>
            </connector>
            <label>not reached 50 true</label>
        </rules>
    </decisions>
    <decisions>
        <name>OPEN_PL_SURVEY_OR_CLICKTOOLS_SURVEY</name>
        <label>OPEN PL SURVEY OR CLICKTOOLS SURVEY</label>
        <locationX>3658</locationX>
        <locationY>3746</locationY>
        <defaultConnector>
            <targetReference>Assign_Survey_URL_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Survey_Vista_Survey</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Campaign.Ardira_Survey__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Latest_active_survey</targetReference>
            </connector>
            <label>Survey Vista Survey</label>
        </rules>
        <rules>
            <name>PL_ADVERT_SURVEY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Task_Data.Survey_ID__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PL_ADVERT_SURVEY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>open_pl_survey</targetReference>
            </connector>
            <label>PL_ADVERT_SURVEY</label>
        </rules>
    </decisions>
    <decisions>
        <name>Other_Contact_Selected</name>
        <label>Other Contact Selected</label>
        <locationX>3548</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>Select_Option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Other_Contact_Selected_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Updatecontact</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetContactInfo.Primary_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_primary_contact</targetReference>
            </connector>
            <label>Other Contact Selected True</label>
        </rules>
    </decisions>
    <decisions>
        <name>ScreenOption</name>
        <label>ScreenOption</label>
        <locationX>3548</locationX>
        <locationY>1826</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Proceed_to_call</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstScreenOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>screenHello</targetReference>
            </connector>
            <label>Proceed to call</label>
        </rules>
        <rules>
            <name>Seller_Ineligible</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstScreenOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_Seller_Ineligible</targetReference>
            </connector>
            <label>Seller Ineligible</label>
        </rules>
        <rules>
            <name>Not_Reached</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstScreenOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Reason_not_reached</targetReference>
            </connector>
            <label>Not Reached</label>
        </rules>
        <rules>
            <name>Incorrect_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>FirstScreenOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>4.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Select_the_correct_contact</targetReference>
            </connector>
            <label>Incorrect Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>selected_contact_null</name>
        <label>selected contact null</label>
        <locationX>4736</locationX>
        <locationY>4994</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>selected_contact_null_true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_correct_Contact2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>GetContactInfo</targetReference>
            </connector>
            <label>selected contact null true</label>
        </rules>
        <rules>
            <name>selected_contact_null_false</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Select_the_correct_Contact2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Correct_Contact_Id</targetReference>
            </connector>
            <label>selected contact null false</label>
        </rules>
    </decisions>
    <decisions>
        <name>Seller_Ineligible_option</name>
        <label>Seller Ineligible option</label>
        <locationX>3845</locationX>
        <locationY>2642</locationY>
        <defaultConnector>
            <targetReference>Wrong_phone_number_or_invalid_phone_number</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Seller_Ineligible_decission_true</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>FirstScreenOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SellerIneligible</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>HIYesNo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_response_code_25</targetReference>
            </connector>
            <label>Seller Ineligible decission true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Should_Open_Survey</name>
        <label>Should Open Survey</label>
        <locationX>4054</locationX>
        <locationY>3626</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Redirect_to_Survey_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenSurvey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>OPEN_PL_SURVEY_OR_CLICKTOOLS_SURVEY</targetReference>
            </connector>
            <label>Redirect to Survey True</label>
        </rules>
        <rules>
            <name>Open_Survey_False</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>OpenSurvey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Open Survey False</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Completed</name>
        <label>Status Completed?</label>
        <locationX>4054</locationX>
        <locationY>2186</locationY>
        <defaultConnector>
            <targetReference>Assignment_decission_1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Completed_True</name>
            <conditionLogic>1 or 2 or 3</conditionLogic>
            <conditions>
                <leftValueReference>FirstScreenOption</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>2.0</numberValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>reason_not_reached_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InvalidPhoneNumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>reason_not_reached_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WrongPhonenumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_status_completed</targetReference>
            </connector>
            <label>Status Completed True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Wrong_phone_number_or_invalid_phone_number</name>
        <label>Wrong phone number or invalid phone number</label>
        <locationX>4076</locationX>
        <locationY>2762</locationY>
        <defaultConnector>
            <targetReference>Not_reached_50_option</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Wrong_phone_number_true</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>reason_not_reached_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>WrongPhonenumber</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>reason_not_reached_options</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>InvalidPhoneNumber</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Response_Code_30</targetReference>
            </connector>
            <label>Wrong phone number true</label>
        </rules>
    </decisions>
    <description>2021-10-11 
Updated assignment when creating new task to copy campaign member id from the original task
6-5-2022
US-0011636 - SPIKE - Duplicate Management Contacts</description>
    <dynamicChoiceSets>
        <name>AllCustomerContacts</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Data.AccountId</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>Areyouavailable</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE({!$Label.prologue_Are_you_available_to_discuss},&quot;(0)&quot;,{!Get_Task_Data.Related_Campaign__r.Name})</expression>
    </formulas>
    <formulas>
        <name>BaseURL</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &#39;/services&#39;, {!$Api.Partner_Server_URL_340}))</expression>
    </formulas>
    <formulas>
        <description>US-0010153 - Fix Prologue and Epilogue issues</description>
        <name>BaseURL2</name>
        <dataType>String</dataType>
        <expression>LEFT({!$Api.Partner_Server_URL_340}, FIND( &#39;/services&#39;, {!$Api.Partner_Server_URL_340})-1)</expression>
    </formulas>
    <formulas>
        <name>CallAttemptsValue</name>
        <dataType>Number</dataType>
        <expression>if(isblank({!Get_Task_Data.Call_attempts__c}),0,{!Get_Task_Data.Call_attempts__c})</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>checktaskvariables</name>
        <dataType>Boolean</dataType>
        <expression>or(isblank({!Get_Task_Data.EBH_CampaignMemberId__c}),
isblank({!Get_Task_Data.WhatId}),
isblank({!Get_Task_Data.AccountId}),
isblank({!Get_Task_Data.WhoId}))</expression>
    </formulas>
    <formulas>
        <name>ClickToolsSurvey</name>
        <dataType>String</dataType>
        <expression>&quot;https://app.clicktools.com/go?iv=&quot; &amp; trim ({!Get_Campaign.Survey_ID__c}) &amp;
               &quot;&amp;q1=&quot;&amp; {!$User.Id} &amp;
                &quot;&amp;q2=&quot;&amp; {!Get_Task_Data.WhoId} &amp;
                &quot;&amp;q3=&quot; &amp; {!Get_Task_Data.EBH_Account__c} &amp;
                &quot;&amp;q4=&quot; &amp; {!Get_Task_Data.Task_Owner_Name__c}  &amp;
    
                &quot;&amp;q6=&quot; &amp; {!Get_Task_Data.Id}  &amp; 
                &quot;&amp;q7=&quot; &amp; {!Get_Campaign.Survey_ID__c} &amp; 
                &quot;&amp;q8=&quot; &amp; {!Get_Task_Data.EBH_CampaignMemberId__c} &amp; 
                &quot;&amp;q9=&quot; &amp; text({!Get_Task_Data.Call_attempts__c} ) &amp;
                &quot;&amp;language=&quot; &amp; {!Get_Task_Data.Campaign_Country__c} &amp; 
                &quot;&amp;q11=&quot; &amp; {!Get_Task_Data.EBH_Account__r.EBH_OracleID__c} &amp;  
                &quot;&amp;q12=&quot; &amp; {!Get_Task_Data.Account_Name__c} &amp;
               &quot;&amp;q13=notused&quot; &amp;  
                &quot;&amp;q14=notused&quot; &amp;
                &quot;&amp;q15=notused&quot; &amp; 
               &quot;&amp;q5=&quot; &amp; {!Get_Task_Data.Contact_Name__c} &amp;
                &quot;&amp;q16=notused&quot; &amp; 
                &quot;&amp;q17=&quot; &amp; {!Get_Task_Data.WhatId} &amp;
                  &quot;&amp;q18=&quot; &amp; {!Get_Campaign.Name} &amp;

      &quot;&amp;q19=&quot; &amp; {!$Setup.EBH_OutboundLink__c.Clicktools_Epilogue_Survey__c}   &amp; 
     &quot;&amp;q20=&quot; &amp; {!Get_CampaignMemberDetails.Campaign_Related_Seller_Details__c}</expression>
    </formulas>
    <formulas>
        <name>ContactName</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_contact_name_does_not_exist}</expression>
    </formulas>
    <formulas>
        <name>ContactPhoneNumber</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_Contact_Phone_Number}</expression>
    </formulas>
    <formulas>
        <name>CreateNewContactFormulaLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_createNewContact}</expression>
    </formulas>
    <formulas>
        <name>DeletedAccountFormulaLabel</name>
        <dataType>String</dataType>
        <expression>&#39;Deleted Account&#39;</expression>
    </formulas>
    <formulas>
        <name>Formula_Email_Opt_out</name>
        <dataType>Boolean</dataType>
        <expression>not({!Email_Opt_In})</expression>
    </formulas>
    <formulas>
        <name>formulaResponseCode</name>
        <dataType>Number</dataType>
        <expression>/*
if(
or(FirstScreenOption = SellerIneligible,HIYesNo=No) , 25,

if      (
    or(reason_not_reached_options==InvalidPhoneNumber,
reason_not_reached_options==WrongPhonenumber),30,
if          (
    AND(FirstScreenOption=NotReached,Get_Task_Data.Call_attempts__c==3),50,
if              (FirstScreenOption==NotReached,40,null
                )
            )
        )
    )
*/
if(
    not({!FirstScreenOption}={!Proceedtocall}),
    if (
        or(
            {!FirstScreenOption} = {!SellerIneligible},{!HIYesNo}={!No}
            ) , 25,
                    if(
                        or(
                           {!reason_not_reached_options}={!WrongPhonenumber},
                          {!reason_not_reached_options}={!InvalidPhoneNumber}
                          ),30,
                                if(
                                    and({!Get_Task_Data.Call_attempts__c}=3,
                                     {!FirstScreenOption}={!NotReached}
                                      ),50,40)
)),null)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>HiUserFml</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE(SUBSTITUTE({!$Label.prologue_Hi_my_name_is}, &quot;(0)&quot;, {!$User.FirstName}),&quot;(1)&quot;,{!GetContactInfo.Name})</expression>
    </formulas>
    <formulas>
        <name>IncreasedCallattempts</name>
        <dataType>Number</dataType>
        <expression>if (isblank({!Get_Task_Data.Call_attempts__c}),1, {!Get_Task_Data.Call_attempts__c}+1)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>increasedCallBackComments</name>
        <dataType>String</dataType>
        <expression>if(
not(
isblank({!Get_Task_Data.Call_Back_Comments__c})
),
{!Get_Task_Data.Call_Back_Comments__c} &amp; BR() &amp; {!CallBackComments}
,{!CallBackComments})</expression>
    </formulas>
    <formulas>
        <name>InvalidPhoneNumberFormulaLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_Invalid_phone_number}</expression>
    </formulas>
    <formulas>
        <name>LegacyClicktoolsPrologue</name>
        <dataType>String</dataType>
        <expression>&quot;https://app.clicktools.com/go?iv=&quot; &amp; {!$Setup.EBH_OutboundLink__c.Clicktools_Outbound_Survey__c} &amp;
   &quot;&amp;q1=&quot; &amp; {!Get_Task_Data.OwnerId} &amp;   
                &quot;&amp;q2=&quot;&amp; {!Get_Task_Data.WhoId} &amp;
                &quot;&amp;q3=&quot; &amp; {!Get_Task_Data.EBH_Account__c} &amp;
                &quot;&amp;q4=&quot; &amp; {!Get_Task_Data.Task_Owner_Name__c}  &amp;
    
                &quot;&amp;q6=&quot; &amp; {!Get_Task_Data.Id}  &amp; 
                &quot;&amp;q7=&quot; &amp; {!Get_Task_Data.Survey_ID__c} &amp; 
                &quot;&amp;q8=&quot; &amp; {!Get_Task_Data.EBH_CampaignMemberId__c} &amp; 
                &quot;&amp;q9=&quot; &amp; text({!Get_Task_Data.Call_attempts__c} ) &amp;
                &quot;&amp;language=&quot; &amp; {!Get_Task_Data.Campaign_Country__c} &amp; 
                &quot;&amp;q11=&quot; &amp; {!Get_Task_Data.EBH_Account__r.EBH_OracleID__c} &amp;  
                &quot;&amp;q12=&quot; &amp; {!Get_Task_Data.Account_Name__c} &amp;  
                &quot;&amp;q13=&quot; &amp; {!Get_Task_Data.Related_Campaign__r.Name} &amp;  
                &quot;&amp;q14=&quot; &amp; {!Get_Task_Data.Related_Campaign__c} &amp;  
                &quot;&amp;q15=&quot; &amp; {!$Setup.EBH_OutboundLink__c.Clicktools_Epilogue_Survey__c} &amp;
               &quot;&amp;q5=&quot; &amp; {!Get_Task_Data.Contact_Name__c}</expression>
    </formulas>
    <formulas>
        <name>NewContactEmailOptOut</name>
        <dataType>Boolean</dataType>
        <expression>not({!Email_Opt_In})</expression>
    </formulas>
    <formulas>
        <name>NoActiveListingsFormulaLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_No_active_listings}</expression>
    </formulas>
    <formulas>
        <name>NoConsentToPhoneCallsFormulaLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_No_consent_to_phone_calls}</expression>
    </formulas>
    <formulas>
        <name>NoLabelFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_No}</expression>
    </formulas>
    <formulas>
        <name>NotREachedReasons</name>
        <dataType>String</dataType>
        <expression>{!Get_Task_Data.Description} + &#39;\r&#39; + if(not(isblank({!Other_Not_reached_reason})),{!Other_Not_reached_reason},{!reason_not_reached_options})</expression>
    </formulas>
    <formulas>
        <name>PermanentSellerRestrictionsFormulaLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_Permanent_selling_restriction}</expression>
    </formulas>
    <formulas>
        <name>reasonnotreachedoptions</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_reason_not_reached_options}</expression>
    </formulas>
    <formulas>
        <name>responseCode60</name>
        <dataType>Number</dataType>
        <expression>60</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>retURL</name>
        <dataType>String</dataType>
        <expression>/* if (CONTAINS(BaseURL,&quot;partner&quot;),&quot;/gcx/s&quot;,&quot;&quot;) */
if (CONTAINS({!BaseURL},&quot;partner&quot;),{!BaseURL2}+&quot;/s&quot;,{!BaseURL2})</expression>
    </formulas>
    <formulas>
        <name>SelectTheCorrectContact</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_Select_the_correct_Contact}</expression>
    </formulas>
    <formulas>
        <name>Seller_Ineligible_Reasons</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_Seller_Ineligible_Reasons}</expression>
    </formulas>
    <formulas>
        <name>SellerIneligibleFormulaValue</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_Seller_Ineligible}</expression>
    </formulas>
    <formulas>
        <name>SellerRejectedTheCallFormulaLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_Seller_rejected_the_call}</expression>
    </formulas>
    <formulas>
        <name>StatusCompleted</name>
        <dataType>String</dataType>
        <expression>&quot;Completed&quot;</expression>
    </formulas>
    <formulas>
        <name>SurveyVistaURL</name>
        <dataType>String</dataType>
        <expression>{!BaseURL} &amp; &quot;ArdiraSurvey/SurveyResponse.app?logicalId=&quot; &amp; {!Get_active_survey.ArdiraSurvey__Logical_Id__c} &amp; &quot; &amp;recordId=&quot;&amp;{!Get_Campaign.Ardira_Survey__c} &amp; &quot;&amp;targetId=&quot; &amp; {!Get_Task_Data.Id} &amp; &quot;&amp;additionalParams=Target_Campaign__c=&quot; &amp; {!Get_Task_Data.WhatId} &amp;&quot;~Task_Comment__c=&quot; &amp; {!Get_Task_Data.Description} &amp; &quot;~ArdiraSurvey__Target_Contact__c=&quot; &amp; {!Get_Task_Data.WhoId} &amp; &quot;&amp;retUrl=&quot; &amp; {!retURL} &amp; &quot;/flow/Epilogue_Flow?taskId=&quot;  &amp; {!Get_Task_Data.Id}</expression>
    </formulas>
    <formulas>
        <name>SuspendedAccountFormulaLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_Suspended_Account}</expression>
    </formulas>
    <formulas>
        <name>UrgencyFlagFormulaLabel</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_Urgency_flag}</expression>
    </formulas>
    <formulas>
        <name>YesFormula</name>
        <dataType>String</dataType>
        <expression>{!$Label.prologue_Yes}</expression>
    </formulas>
    <interviewLabel>PrologueFlow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PrologueFlow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>create_new_task_with_call_back</name>
        <label>create new task with call back</label>
        <locationX>1106</locationX>
        <locationY>2786</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Increase_Call_Attempts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>newTask</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Save_new_contact</name>
        <label>Save new contact</label>
        <locationX>2360</locationX>
        <locationY>5234</locationY>
        <connector>
            <targetReference>GetCampaignMemberDetails</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Duplicated_Detected</targetReference>
        </faultConnector>
        <inputReference>NewContact</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_active_survey</name>
        <label>Get active survey</label>
        <locationX>3394</locationX>
        <locationY>3986</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Survey_URL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>activeSurveyId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ArdiraSurvey__Survey__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get campaign related in task</description>
        <name>Get_Campaign</name>
        <label>Get Campaign</label>
        <locationX>3548</locationX>
        <locationY>854</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Contact_Id</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Data.WhatId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Campaign</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_CampaignMemberDetails</name>
        <label>Get CampaignMemberDetails</label>
        <locationX>314</locationX>
        <locationY>2426</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>OpenSurvey_True</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Data.EBH_CampaignMemberId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Task_Data</name>
        <label>Get Task Data</label>
        <locationX>1799</locationX>
        <locationY>494</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Call_Attempts_value_if_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCampaignMember</name>
        <label>GetCampaignMember</label>
        <locationX>2602</locationX>
        <locationY>2066</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Seller_Ineligible_Reasons</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Data.EBH_CampaignMemberId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetCampaignMemberDetails</name>
        <label>GetCampaignMemberDetails</label>
        <locationX>2360</locationX>
        <locationY>5354</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Campaign_Member_Details</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Task_Data.EBH_CampaignMemberId__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CampaignMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactInfo</name>
        <label>GetContactInfo</label>
        <locationX>3548</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Other_Contact_Selected</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>contactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Campaign_Member</name>
        <label>Update Campaign Member</label>
        <locationX>2360</locationX>
        <locationY>5594</locationY>
        <connector>
            <targetReference>Update_Task_Details</targetReference>
        </connector>
        <inputReference>Get_CampaignMemberDetails</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Campaign_Member_Seller_Ineligible</name>
        <label>Update Campaign Member Seller Ineligible</label>
        <locationX>2602</locationX>
        <locationY>2306</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Increase_Call_Attempts</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>GetCampaignMember</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_contact_primary</name>
        <label>update contact primary</label>
        <locationX>3284</locationX>
        <locationY>1454</locationY>
        <connector>
            <targetReference>Select_Option</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>GetContactInfo</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_current_task</name>
        <label>Update current task</label>
        <locationX>4054</locationX>
        <locationY>3506</locationY>
        <connector>
            <targetReference>Should_Open_Survey</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Get_Task_Data</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Existing_Task_and_continue</name>
        <label>Update Existing Task and continue</label>
        <locationX>2360</locationX>
        <locationY>5834</locationY>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Get_Task_Data</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Error</targetReference>
        </faultConnector>
        <inputReference>Get_Task_Data</inputReference>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>Available</name>
        <label>Available</label>
        <locationX>1106</locationX>
        <locationY>2186</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DecisionUserAvailable</targetReference>
        </connector>
        <fields>
            <name>txtAvailable</name>
            <fieldText>&lt;p&gt;{!Areyouavailable}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>OptionsAreYouAvailableToDiscuss</name>
            <choiceReferences>ChoiceYesNumeric</choiceReferences>
            <choiceReferences>ChoiceNoNumeric</choiceReferences>
            <choiceReferences>ChoiceSellerIneligibleNumeric</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>{!$Label.prologue_Select_One_Option}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Duplicated_Error_Message</name>
        <label>Duplicated Error Message</label>
        <locationX>3548</locationX>
        <locationY>5474</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Contact_Duplicate_Options</targetReference>
        </connector>
        <fields>
            <name>Duplicated_Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;We found a duplicate in contact {!First_name} {!Last_name}&lt;/p&gt;&lt;p style=&quot;text-align: center;&quot;&gt;What action do you want to do ?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactDuplicateOptions</name>
            <choiceReferences>ignoreWarning</choiceReferences>
            <choiceReferences>ChangeContact</choiceReferences>
            <dataType>Number</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Error</name>
        <label>Error</label>
        <locationX>2624</locationX>
        <locationY>5954</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Screen_Error_Message</name>
            <fieldText>&lt;p&gt;{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Reason_not_reached</name>
        <label>Reason not reached</label>
        <locationX>4054</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Increase_Call_Attempts</targetReference>
        </connector>
        <fields>
            <name>reason_not_reached_options</name>
            <choiceReferences>LineBusy</choiceReferences>
            <choiceReferences>CallNotAnswered</choiceReferences>
            <choiceReferences>Sellerrejectedthecall</choiceReferences>
            <choiceReferences>InvalidPhoneNumber</choiceReferences>
            <choiceReferences>WrongPhonenumber</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.prologue_reason_not_reached_options}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other_Not_reached_reason</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.prologue_Other_Not_reached_reason}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>reason_not_reached_options</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Schedule_call_back</name>
        <label>{!$Label.prologue_Schedule_call_back}</label>
        <locationX>974</locationX>
        <locationY>2426</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Attempts_less_than_2</targetReference>
        </connector>
        <fields>
            <name>CallBackCall_back_start</name>
            <dataType>DateTime</dataType>
            <fieldText>{!$Label.prologue_Call_back_start}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CallBackCall_back_ends</name>
            <dataType>DateTime</dataType>
            <fieldText>{!$Label.prologue_Call_back_ends}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CallBackComments</name>
            <fieldText>{!$Label.prologue_Comments}</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;The size of the comments should be smaller than 255 characters&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;String too long. Please reduce the size to 255 characters&lt;/p&gt;</errorMessage>
                <formulaExpression>LEN({!CallBackComments})&lt;255</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Create_New_Contact</name>
        <label>{!$Label.prologue_createNewContact}}</label>
        <locationX>2360</locationX>
        <locationY>4994</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>New_Contact_Assign_Values</targetReference>
        </connector>
        <fields>
            <name>CreateNewContactLabel</name>
            <fieldText>{!$Label.prologue_createNewContact}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_name</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.prologue_First_Name}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_name</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.prologue_Last_name}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>NewContactEmaillbl</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>NewContactPhonelbl</name>
            <extensionName>flowruntime:phone</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>required</name>
                <value>
                    <elementReference>Yes</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>{!$Label.prologue_Phone}</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Phone_Opt_In</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Yes</elementReference>
            </defaultValue>
            <fieldText>{!$Label.prologue_Phone_opt_in}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Email_Opt_In</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Yes</elementReference>
            </defaultValue>
            <fieldText>{!$Label.Email_opt_in}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Mark_Selected_Contact_as_Primary</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <elementReference>Yes</elementReference>
            </defaultValue>
            <fieldText>{!$Label.prologue_Mark_Selected_Contact_as_Primary}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>&lt;p&gt;Create a new contact&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Screen_Seller_Ineligible</name>
        <label>{!$Label.prologue_Seller_Ineligible}</label>
        <locationX>2602</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>GetCampaignMember</targetReference>
        </connector>
        <fields>
            <name>RB_Seller_Ineligible_Reasons</name>
            <choiceReferences>SuspendedAccount</choiceReferences>
            <choiceReferences>DeletedAccount</choiceReferences>
            <choiceReferences>Permanentsellingrestrictions</choiceReferences>
            <choiceReferences>Noconsenttophonecalls</choiceReferences>
            <choiceReferences>Accountregisteredonadifferentebaysite</choiceReferences>
            <choiceReferences>URGENCYFLAG</choiceReferences>
            <choiceReferences>ATO</choiceReferences>
            <choiceReferences>BSTD</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.prologue_Seller_Ineligible_Reasons}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Seller_not_eligible_other_reason</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.$}</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RB_Seller_Ineligible_Reasons</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>screenHello</name>
        <label>screenHello</label>
        <locationX>1722</locationX>
        <locationY>1946</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Are_you_DMC</targetReference>
        </connector>
        <fields>
            <name>txtHi</name>
            <fieldText>&lt;p&gt;{!HiUserFml}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>HIYesNo</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>{!$Label.prologue_Options}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_Option</name>
        <label>{!$Label.prologue_Options}</label>
        <locationX>3548</locationX>
        <locationY>1706</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ScreenOption</targetReference>
        </connector>
        <fields>
            <name>CallAction</name>
            <fieldText>&lt;p&gt;{!$Label.prologue_NameName} {!GetContactInfo.FirstName} {!GetContactInfo.LastName}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!$Label.prologue_Contact_Phone_Number}  {!GetContactInfo.Phone}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;u&gt;________________________&lt;/u&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FirstScreenOption</name>
            <choiceReferences>Proceedtocall</choiceReferences>
            <choiceReferences>SellerIneligible</choiceReferences>
            <choiceReferences>NotReached</choiceReferences>
            <choiceReferences>IncorrectUser</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>{!$Label.prologue_Call_Action}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Select_the_correct_contact</name>
        <label>Select the correct contact</label>
        <locationX>3548</locationX>
        <locationY>4754</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_contact_or_select</targetReference>
        </connector>
        <fields>
            <name>Select_the_correct_Contact2</name>
            <choiceReferences>AllCustomerContacts</choiceReferences>
            <choiceReferences>createNewContact</choiceReferences>
            <dataType>String</dataType>
            <fieldText>{!$Label.prologue_Select_the_correct_Contact}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Some_field_is_missing</name>
        <label>Some field is missing</label>
        <locationX>50</locationX>
        <locationY>854</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>MissingFieldstxt</name>
            <fieldText>&lt;p&gt;Some of the following fields are missing and it is not possible to continue with the survey:&lt;/p&gt;&lt;p&gt;Survey Id{!Get_Task_Data.Survey_ID__c}&lt;/p&gt;&lt;p&gt;Contact Id: {!Get_Task_Data.WhoId}&lt;/p&gt;&lt;p&gt;Account ID: {!Get_Task_Data.AccountId}&lt;/p&gt;&lt;p&gt;Campaign ID: {!Get_Task_Data.WhatId}&lt;/p&gt;&lt;p&gt;Campaign Member ID: {!Get_Task_Data.EBH_CampaignMemberId__c}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>1673</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_RecordId</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Get_Latest_active_survey</name>
        <label>Get Latest active survey</label>
        <locationX>3394</locationX>
        <locationY>3866</locationY>
        <connector>
            <targetReference>Get_active_survey</targetReference>
        </connector>
        <flowName>GetLatestSurvey</flowName>
        <inputAssignments>
            <name>ardiraSurveyId</name>
            <value>
                <elementReference>activeSurveyId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>activeSurveyId</assignToReference>
            <name>ActiveSurveyId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>open_pl_survey</name>
        <label>open_pl_survey</label>
        <locationX>3658</locationX>
        <locationY>3866</locationY>
        <flowName>PL_Advertising_Call_Outcome</flowName>
        <inputAssignments>
            <name>taskID</name>
            <value>
                <elementReference>taskId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>activeSurveyId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>contactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCampaignMember</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CampaignMember</objectType>
    </variables>
    <variables>
        <name>NewContact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>newTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>OpenSurvey</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SurveyURL</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>taskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Updatecontact</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
