unpackaged/main/default/flows/SP_Eligibility.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_SP_Coupon_to_Account</name>
        <label>Assign SP Coupon to Account</label>
        <locationX>50</locationX>
        <locationY>2126</locationY>
        <assignmentItems>
            <assignToReference>Account.SP_Coupons__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPCoupons</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_If_User_update_SP_Deal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SP_Deal_to_Account</name>
        <label>Assign SP Deal to Account</label>
        <locationX>50</locationX>
        <locationY>2462</locationY>
        <assignmentItems>
            <assignToReference>Account.SP_Deals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SPDeals</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Has_SPCoupon_And_Has_SPDeal</name>
        <label>Has SPCoupon And Has SPDeal</label>
        <locationX>50</locationX>
        <locationY>1550</locationY>
        <assignmentItems>
            <assignToReference>varHasSPCoupon</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varHasSPDeal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varHasSPCoupon_to_TRUE</name>
        <label>Set varHasSPCoupon to TRUE</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>varHasSPCoupon</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_User_has_SP_Deal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_varHasSPDeal_to_TRUE</name>
        <label>Set varHasSPDeal to TRUE</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>varHasSPDeal</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Profile</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>FullAccess</name>
        <choiceText>Full Access</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Full Access</stringValue>
        </value>
    </choices>
    <choices>
        <name>ReadOnly</name>
        <choiceText>Read Only</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Read Only</stringValue>
        </value>
    </choices>
    <choices>
        <name>SP_Deals1</name>
        <choiceText>&lt;ol&gt;&lt;li&gt;test&lt;/li&gt;&lt;li&gt;test2&lt;/li&gt;&lt;/ol&gt;</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>Check_If_User_has_SP_Coupon</name>
        <label>Check If User has SP Coupon</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Check_if_User_has_SP_Deal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_SP_Coupon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SP_Coupon_Permission_Set_link_to_Current_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SP_Coupon_Permission_Set_link_to_Current_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varHasSPCoupon_to_TRUE</targetReference>
            </connector>
            <label>Has SP Coupon?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_User_has_SP_Deal</name>
        <label>Check if User has SP Deal</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <defaultConnector>
            <targetReference>Check_Profile</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Has_SP_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SP_Deal_Permission_Set_Link_to_Current_User</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SP_Deal_Permission_Set_Link_to_Current_User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_varHasSPDeal_to_TRUE</targetReference>
            </connector>
            <label>Has SP Deal?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_User_update_SP_Coupon</name>
        <label>Check If User update SP Coupon</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <defaultConnector>
            <targetReference>Check_If_User_update_SP_Deal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_update_SP_Coupon</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasSPCoupon</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SP_Coupon_to_Account</targetReference>
            </connector>
            <label>Is update SP Coupon?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_If_User_update_SP_Deal</name>
        <label>Check If User update SP Deal</label>
        <locationX>182</locationX>
        <locationY>2342</locationY>
        <defaultConnector>
            <targetReference>Update_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_Update_SP_Deal</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varHasSPDeal</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_SP_Deal_to_Account</targetReference>
            </connector>
            <label>Is Update SP Deal?</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Profile</name>
        <label>Check_Profile</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <defaultConnector>
            <targetReference>Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Profile_System_Administrator</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Profile_System_Administrator.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator - Limited Privileges</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Profile_System_Administrator.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>System Administrator</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Profile_System_Administrator.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Business Admin</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Has_SPCoupon_And_Has_SPDeal</targetReference>
            </connector>
            <label>Check Profile System Administrator</label>
        </rules>
    </decisions>
    <description>US-0011993 - Information message for opted out sellers</description>
    <dynamicChoiceSets>
        <name>SP_Coupons</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>SP_Coupons__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SP_Deals</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true" />
        <object xsi:nil="true" />
        <picklistField>SP_Deals__c</picklistField>
        <picklistObject>Account</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>SP Eligibility Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SP Eligibility</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Account</name>
        <label>Account</label>
        <locationX>182</locationX>
        <locationY>1766</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SP_Eligibility</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>SP_Coupons__c</queriedFields>
        <queriedFields>SP_Deals__c</queriedFields>
        <queriedFields>EBH_EmailOut__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Profile_System_Administrator</name>
        <label>Get Profile System Administrator</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_If_User_has_SP_Coupon</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.ProfileId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_Coupon_Permission_Set_Id</name>
        <label>Get SP Coupon Permission Set Id</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SP_Deal_Permission_Set_ID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seller_Portal_Sellers_Eligible_for_Coupons</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_Coupon_Permission_Set_link_to_Current_User</name>
        <label>Get SP Coupon Permission Set link to Current User</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SP_Deal_Permission_Set_Link_to_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SP_Coupon_Permission_Set_Id.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_Deal_Permission_Set_ID</name>
        <label>Get SP Deal Permission Set ID</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SP_Coupon_Permission_Set_link_to_Current_User</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Seller_Portal_Sellers_Eligible_for_Deals</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SP_Deal_Permission_Set_Link_to_Current_User</name>
        <label>Get SP Deal Permission Set Link to Current User</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Profile_System_Administrator</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SP_Deal_Permission_Set_ID.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>182</locationX>
        <locationY>2678</locationY>
        <inputReference>Account</inputReference>
    </recordUpdates>
    <screens>
        <name>SP_Eligibility</name>
        <label>SP Eligibility</label>
        <locationX>182</locationX>
        <locationY>1886</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <backButtonLabel>Cancel</backButtonLabel>
        <connector>
            <targetReference>Check_If_User_update_SP_Coupon</targetReference>
        </connector>
        <fields>
            <name>Message_For_Opted_Out_Sellers</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(254, 165, 0);&quot;&gt;﻿&lt;/span&gt;&lt;span style=&quot;color: rgb(254, 165, 0); font-family: Roboto, sans-serif; font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;IMPORTANT: Please note that this seller has opted out from Emails, and will therefore not receive the welcome email invitation. Please request an active opt in from the seller and update the Email Opt Out field BEFORE updating their access on this screen.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Account.EBH_EmailOut__c</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPDeals</name>
            <choiceReferences>FullAccess</choiceReferences>
            <choiceReferences>ReadOnly</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account.SP_Deals__c</elementReference>
            </defaultValue>
            <fieldText>SP Deals</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 11.36px; font-family: Arial, Helvetica, sans-serif; color: rgb(0, 0, 0);&quot;&gt;&quot;Full Access&quot; means a Seller can view and create Deals, &quot;Read Only&quot; means a Seller can only view Deals, &quot;Allowed&quot; means they can see the Deals tab in the portal&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varHasSPDeal</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>SPCoupons</name>
            <choiceReferences>FullAccess</choiceReferences>
            <choiceReferences>ReadOnly</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account.SP_Coupons__c</elementReference>
            </defaultValue>
            <fieldText>SP Coupons</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>varHasSPCoupon</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <booleanValue>true</booleanValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SP_Coupon_Permission_Set_Id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>System_Administrator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>System Administrator</stringValue>
        </value>
    </variables>
    <variables>
        <name>varHasSPCoupon</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>varHasSPDeal</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
</Flow>
