unpackaged/main/default/flows/Update_Feature_Request_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>US-0011680 - New Status &quot;PO Review&quot; to User Stories Object and notification</description>
        <name>Email_Notification_PO_Review</name>
        <label>Email Notification PO Review</label>
        <locationX>842</locationX>
        <locationY>575</locationY>
        <actionName>copado__User_Story__c.PO_Review_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_Related_Stories</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_to_Stakeholders</name>
        <label>Send Email to Stakeholders</label>
        <locationX>809</locationX>
        <locationY>2711</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>EmailBodyRichText</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <elementReference>EmailDestinations</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <elementReference>EmailSubject</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Status</name>
        <label>Assign Status</label>
        <locationX>644</locationX>
        <locationY>1127</locationY>
        <assignmentItems>
            <assignToReference>Get_Related_Stories.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>STATUS</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Feature_Request</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MissingFR</name>
        <label>MissingFR</label>
        <locationX>809</locationX>
        <locationY>1703</locationY>
        <assignmentItems>
            <assignToReference>WhatIsMissing</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;Feature Request&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SomeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MissingHiveProduct</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MissingFR_0</name>
        <label>MissingProduct</label>
        <locationX>809</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>WhatIsMissing</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;Hive Product&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SomeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>MissingHiveProduct_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MissingProject</name>
        <label>MissingProject</label>
        <locationX>809</locationX>
        <locationY>2375</locationY>
        <assignmentItems>
            <assignToReference>WhatIsMissing</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&lt;li&gt;Hive Project&lt;/li&gt;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SomeError</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Some_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Requirement_Accepted</name>
        <label>Status = Requirement Accepted</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Requirement Accepted</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Requirement_Accepted_0</name>
        <label>Status = Coming Soon</label>
        <locationX>314</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Development</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Requirement_Accepted_0_0</name>
        <label>Status = Sizing by Hive Team</label>
        <locationX>578</locationX>
        <locationY>575</locationY>
        <assignmentItems>
            <assignToReference>STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sizing by HIVE team</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Stories</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Status_Requirement_Accepted_0_0_0</name>
        <label>Status = Delivered</label>
        <locationX>1106</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>STATUS</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_Related_Stories</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Change_to_Delivered</name>
        <label>Change to Delivered</label>
        <locationX>1238</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Status_Draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Equal_to</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Technical Review</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Backlog</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Backburner</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>In Dev</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deployed in QA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deployed in UAT</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Requirement_Accepted_0_0_0</targetReference>
            </connector>
            <label>Not Equal to Draft, Technical review, Ready for refinement, Backlog, Backburner, approved, In Dev, Deployed in QA, Deployed in UAT</label>
        </rules>
    </decisions>
    <decisions>
        <name>MissingFeatureRequest</name>
        <label>MissingFeatureRequest</label>
        <locationX>941</locationX>
        <locationY>1583</locationY>
        <defaultConnector>
            <targetReference>MissingHiveProduct</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Feature_Request_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requirement_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingFR</targetReference>
            </connector>
            <label>Feature Request Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>MissingHiveProduct</name>
        <label>MissingHiveProduct</label>
        <locationX>941</locationX>
        <locationY>1919</locationY>
        <defaultConnector>
            <targetReference>MissingHiveProduct_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hive_Product_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.HIVE_Products__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingFR_0</targetReference>
            </connector>
            <label>Hive Product Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>MissingHiveProduct_0</name>
        <label>MissingHiveProduct</label>
        <locationX>941</locationX>
        <locationY>2255</locationY>
        <defaultConnector>
            <targetReference>Some_Error</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hive_Project_Empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hive_Project__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingProject</targetReference>
            </connector>
            <label>Hive Project Empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Requirement_Request_Not_Null</name>
        <label>Requirement Request Not Null</label>
        <locationX>1139</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Status_Draft</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Req_Req_Not_Null_TRUE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Requirement_Request__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FRStartsWithSM</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_has_been_updated</targetReference>
            </connector>
            <label>Feat Req Not Null TRUE</label>
        </rules>
    </decisions>
    <decisions>
        <name>Some_Error</name>
        <label>Some Error</label>
        <locationX>941</locationX>
        <locationY>2591</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Some_Error_True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SomeError</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Helper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Stakeholders</targetReference>
            </connector>
            <label>Some Error True</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Draft</name>
        <label>Status != Draft</label>
        <locationX>1139</locationX>
        <locationY>1463</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_is_not_draft</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Deployed in PROD</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Rejected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed - Complete</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Duplicated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Helper</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MissingFeatureRequest</targetReference>
            </connector>
            <label>Status != Draft</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_has_been_updated</name>
        <label>Status has been updated</label>
        <locationX>644</locationX>
        <locationY>455</locationY>
        <defaultConnector>
            <targetReference>Change_to_Delivered</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_updated_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Requirement_Accepted</targetReference>
            </connector>
            <label>Status Updated to DRAFT</label>
        </rules>
        <rules>
            <name>Status_Updated_to_Approved</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Requirement_Accepted_0</targetReference>
            </connector>
            <label>Status Updated to Approved</label>
        </rules>
        <rules>
            <name>Status_Changed_to_Ready_for_refinement</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ready for refinement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Status_Requirement_Accepted_0_0</targetReference>
            </connector>
            <label>Status Changed to Ready for refinement</label>
        </rules>
        <rules>
            <name>Status_Updated_to_PO_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>PO Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_Notification_PO_Review</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Status Updated to PO Review</label>
        </rules>
    </decisions>
    <description>US-0009416 - Feature Request status automation,
US-0011331 - New Hive Products Object - Hive Products field changes
US-0011391 - Exclude if Feature Request starts with SM_
US-0011680 - New Status &quot;PO Review&quot; to User Stories Object and notification</description>
    <environments>Default</environments>
    <formulas>
        <name>EmailBody</name>
        <dataType>String</dataType>
        <expression>&quot;Your created user story is missing important element which are mandatory:&lt;ul&gt;&quot; &amp;
BR()&amp; 
{!WhatIsMissing} &amp; 
&quot;&lt;/ul&gt;&quot;</expression>
    </formulas>
    <formulas>
        <name>EmailDestinations</name>
        <dataType>String</dataType>
        <expression>{!$Record.Owner:User.Email} &amp;&quot;,&quot; &amp; {!$Label.flow_notifications_email}</expression>
    </formulas>
    <formulas>
        <name>EmailSubject</name>
        <dataType>String</dataType>
        <expression>&quot;Missing information in user story &quot; &amp; {!$Record.Name}</expression>
    </formulas>
    <formulas>
        <name>FRStartsWithSM</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS( {!$Record.Requirement_Request__r.Name}, &quot;SM_&quot;)</expression>
    </formulas>
    <interviewLabel>Update Feature Request Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Story - After Update - Update Feature Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Related_Stories</name>
        <label>Get Related Stories</label>
        <locationX>644</locationX>
        <locationY>1007</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Status</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Requirement_Request__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Requirement_Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Feature_Request</name>
        <label>Update Feature Request</label>
        <locationX>644</locationX>
        <locationY>1247</locationY>
        <connector>
            <targetReference>Status_Draft</targetReference>
        </connector>
        <inputReference>Get_Related_Stories</inputReference>
    </recordUpdates>
    <start>
        <locationX>1013</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Requirement_Request_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>EmailBodyRichText</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>&lt;p&gt;Your created user story is missing &lt;b&gt;important element &lt;/b&gt;which are mandatory:&lt;/p&gt;
&lt;ul&gt;{!WhatIsMissing}&lt;/ul&gt;</text>
    </textTemplates>
    <variables>
        <name>SomeError</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>STATUS</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WhatIsMissing</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue> </stringValue>
        </value>
    </variables>
</Flow>
