unpackaged/main/default/flows/User_Story_Update_Salami_Sprint_Number.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Update_To_Latest_Salami_Sprint</name>
        <label>Update To Latest Salami Sprint</label>
        <locationX>50</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>$Record.copado__Sprint__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Active_Salami_Sprint.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <constants>
        <name>GENERAL_SALAMI_SPRINT</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Salami Stream</stringValue>
        </value>
    </constants>
    <constants>
        <name>SALAMI</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Salami</stringValue>
        </value>
    </constants>
    <constants>
        <name>SALAMI_ITERATION</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Salami Iteration</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Found_Salami_XX_record</name>
        <label>Found Salami XX record</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Active_Salami_Sprint</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_To_Latest_Salami_Sprint</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Sprint_Salami_Sprint_general</name>
        <label>Sprint = Salami Sprint (general)</label>
        <locationX>380</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Is_General_Salami_Sprint</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.copado__Sprint__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GENERAL_SALAMI_SPRINT</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.copado__Sprint__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Active_Salami_Sprint</targetReference>
            </connector>
            <label>General Salami Sprint?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>User Story - Update Salami Sprint Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Story - Update Salami Sprint Number</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Active_Salami_Sprint</name>
        <label>Get Active Salami Sprint</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found_Salami_XX_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active_Sprint__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>SALAMI_ITERATION</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>copado__Sprint__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Sprint_Salami_Sprint_general</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>PO Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Technical Review</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Approved</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Closed - Complete</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Rejected</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Parked/Dependency</stringValue>
            </value>
        </filters>
        <filters>
            <field>copado__Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Duplicated</stringValue>
            </value>
        </filters>
        <object>copado__User_Story__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Obsolete</status>
</Flow>
