unpackaged/main/default/flows/User_Trailmix_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>US-0009491 - MyTrailhead - Create Trailmix assignement Email</description>
        <name>Send_Email_To_Assgined_User</name>
        <label>Send Email To Assgined User</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <actionName>trailheadapp__User_Trailmix__c.MyTrailhead_Trailmix_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <decisions>
        <description>US-0009491</description>
        <name>Trailmix_Assigned_User</name>
        <label>Trailmix Assigned User</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>User_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.trailheadapp__User__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record.trailheadapp__User__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.trailheadapp__User__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_To_Assgined_User</targetReference>
            </connector>
            <label>User Changed</label>
        </rules>
    </decisions>
    <description>US-0009491</description>
    <interviewLabel>User Trailmix Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>User Trailmix Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Trailmix_Assigned_User</targetReference>
        </connector>
        <object>trailheadapp__User_Trailmix__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
