unpackaged/main/default/flows/UserFlow_Profile_Mapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>US-0010870 - [SP] Just in Time Provisioning of Sellers (Deals, Monetization) - NA, DE</description>
        <name>checkAssignPermSetSEP_0</name>
        <label>checkAssignPermSetSEP</label>
        <locationX>721</locationX>
        <locationY>2279</locationY>
        <actionName>EBH_UserTriggerHandler</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>IsSellerPortal</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>listUserSEP</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>52.0</apiVersion>
    <assignments>
        <name>Assign_User_Language_Currency</name>
        <label>Assign User Language + Currency + Locale + TimeZone</label>
        <locationX>182</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.LanguageLocaleKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profile_Mapping.User_Language__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.DefaultCurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profile_Mapping.User_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.LocaleSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profile_Mapping.User_Locale__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.TimeZoneSidKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Profile_Mapping.timeZoneSidKey__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_User</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>US-0010785</description>
        <name>Check_User_License</name>
        <label>Check User License</label>
        <locationX>721</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Is_Profile_Changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Community_Plus_Login</name>
            <conditionLogic>1 AND 2 AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.UserLicense.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Community Plus Login</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hide_SP_Coupons__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hide_SP_Coupons__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varHideSPCoupon</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hide_SP_Deals__c</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hide_SP_Deals__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>varHideSPDeal</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Hide_SP_Coupon_and_Hide_SP_Deal</targetReference>
            </connector>
            <label>Customer Community Plus Login</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Profile_Changed</name>
        <label>Is Profile Changed</label>
        <locationX>721</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>No Profile Not Changed</defaultConnectorLabel>
        <rules>
            <name>Yes_Profile_Changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProfileId</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.ProfileId</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsPortalEnabled</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsSEPUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Profile_Mapping</targetReference>
            </connector>
            <label>Yes Profile Changed</label>
        </rules>
        <rules>
            <name>IsNewPortalUser</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isNewSEP</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkAssignPermSetSEP_0</targetReference>
            </connector>
            <label>IsNewPortalUser</label>
        </rules>
        <rules>
            <name>Is_SEP_Reactivate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsSEPUser</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkAssignPermSetSEP_0</targetReference>
            </connector>
            <label>Is SEP Reactivate</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0010824 - [SP - EU Deals] Adjust Sharing for Deal Retail Campaign Object</description>
        <name>IsSellerPortal</name>
        <label>IsSellerPortal</label>
        <locationX>721</locationX>
        <locationY>2399</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsNAPortalProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NA - Seller Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddUserToNA_SellerProtalPublicGroup</targetReference>
            </connector>
            <label>IsNAPortalProfile</label>
        </rules>
        <rules>
            <name>IsDEPortalProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>DE - Seller Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Active_User__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddUserToDE_SellerProtalPublicGroup</targetReference>
            </connector>
            <label>IsDEPortalProfile</label>
        </rules>
        <rules>
            <name>IsAUPortalProfile</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Profile.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AU - Seller Portal</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AddUserToAU_SellerProtalPublicGroup</targetReference>
            </connector>
            <label>IsAUPortalProfile</label>
        </rules>
    </decisions>
    <decisions>
        <description>US-0010824 - [SP - EU Deals] Adjust Sharing for Deal Retail Campaign Object</description>
        <name>MatchGroupId</name>
        <label>MatchGroupId</label>
        <locationX>182</locationX>
        <locationY>1751</locationY>
        <defaultConnector>
            <targetReference>checkAssignPermSetSEP_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsMatching</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetExistingGroupMemberId.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DeleteExistingGroup</targetReference>
            </connector>
            <label>IsMatching</label>
        </rules>
    </decisions>
    <decisions>
        <name>Profile_Mapping_Match</name>
        <label>Profile Mapping Match</label>
        <locationX>336</locationX>
        <locationY>911</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Profile_Mapping</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_User_Language_Currency</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <description>Set Language and Currency if Profile Mapping (mtd) match found
20-12-2021-US-0010824 - [SP - EU Deals] Adjust Sharing for Deal Retail Campaign Object.
01/02/2022-US-0010870 - [SP] Just in Time Provisioning of Sellers (Deals, Monetization) - NA, DE
05-07-202-US-0011697: AU Seller Portal Profile</description>
    <environments>Default</environments>
    <formulas>
        <description>US-0010870 - [SP] Just in Time Provisioning of Sellers (Deals, Monetization) - NA, DE</description>
        <name>isNewSEP</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW() &amp;&amp; {!$Record.IsPortalEnabled} &amp;&amp; CONTAINS({!$Record.Profile.Name},&#39;Seller Portal&#39; )</expression>
    </formulas>
    <formulas>
        <description>US-0010870 - [SP] Just in Time Provisioning of Sellers (Deals, Monetization) - NA, DE</description>
        <name>IsSEPUser</name>
        <dataType>Boolean</dataType>
        <expression>{!$Record.IsPortalEnabled} &amp;&amp; CONTAINS({!$Record.Profile.Name},&#39;Seller Portal&#39; )</expression>
    </formulas>
    <formulas>
        <name>varHideSPCoupon</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Contact.Account.SP_Coupons__c})),&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <description>US-0012000 - Restrict Access to Deals for Coupon only Sellers</description>
        <name>varHideSPDeal</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK(TEXT({!$Record.Contact.Account.SP_Deals__c})),&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <interviewLabel>UserFlow - Profile Mapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UserFlow - Profile Mapping</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>US-0011730</description>
        <name>AddUserToAU_SellerProtalPublicGroup</name>
        <label>AddUserToAU-SellerProtalPublicGroup</label>
        <locationX>853</locationX>
        <locationY>2519</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>GetAUSellerPortalGroupId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>US-0010824 - [SP - EU Deals] Adjust Sharing for Deal Retail Campaign Object</description>
        <name>AddUserToDE_SellerProtalPublicGroup</name>
        <label>AddUserToDE-SellerProtalPublicGroup</label>
        <locationX>589</locationX>
        <locationY>2519</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>$Label.GroupId_DE_SellerPortal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>US-0010824 - [SP - EU Deals] Adjust Sharing for Deal Retail Campaign Object</description>
        <name>AddUserToNA_SellerProtalPublicGroup</name>
        <label>AddUserToNA-SellerProtalPublicGroup</label>
        <locationX>325</locationX>
        <locationY>2519</locationY>
        <inputAssignments>
            <field>GroupId</field>
            <value>
                <elementReference>$Label.GroupId_NA_SellerPortal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <description>US-0010824 - [SP - EU Deals] Adjust Sharing for Deal Retail Campaign Object</description>
        <name>DeleteExistingGroup</name>
        <label>DeleteExistingGroup</label>
        <locationX>50</locationX>
        <locationY>1871</locationY>
        <connector>
            <targetReference>checkAssignPermSetSEP_0</targetReference>
        </connector>
        <inputReference>GetExistingGroupMemberId</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_Profile_Mapping</name>
        <label>Get Profile Mapping</label>
        <locationX>336</locationX>
        <locationY>791</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Profile_Mapping_Match</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Profile.Name</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Profile_Mapping__mdt</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetAUSellerPortalGroupId</name>
        <label>GetAUSellerPortalGroupId</label>
        <locationX>182</locationX>
        <locationY>1511</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetExistingGroupMemberId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AU_Seller_Portal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>US-0010824 - [SP - EU Deals] Adjust Sharing for Deal Retail Campaign Object</description>
        <name>GetDESellerPortalGroupId</name>
        <label>GetDESellerPortalGroupId</label>
        <locationX>182</locationX>
        <locationY>1271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetNASellerPortalGroupId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DE_Seller_Portal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>US-0010824 - [SP - EU Deals] Adjust Sharing for Deal Retail Campaign Object</description>
        <name>GetExistingGroupMemberId</name>
        <label>GetExistingGroupMemberId</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>MatchGroupId</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetDESellerPortalGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetNASellerPortalGroupId.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>GroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAUSellerPortalGroupId.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GroupMember</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>US-0010824 - [SP - EU Deals] Adjust Sharing for Deal Retail Campaign Object</description>
        <name>GetNASellerPortalGroupId</name>
        <label>GetNASellerPortalGroupId</label>
        <locationX>182</locationX>
        <locationY>1391</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAUSellerPortalGroupId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NA_Seller_Portal</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>US-0010785,US-0012000</description>
        <name>Update_Hide_SP_Coupon_and_Hide_SP_Deal</name>
        <label>Update Hide SP Coupon and Hide SP Deal</label>
        <locationX>589</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Is_Profile_Changed</targetReference>
        </connector>
        <inputAssignments>
            <field>Hide_SP_Coupons__c</field>
            <value>
                <elementReference>varHideSPCoupon</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Hide_SP_Deals__c</field>
            <value>
                <elementReference>varHideSPDeal</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_User</name>
        <label>Update User</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>GetDESellerPortalGroupId</targetReference>
        </connector>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>595</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_User_License</targetReference>
        </connector>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
